body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u79296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:801px;
  display:flex;
  transition:none;
}
#u79296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:801px;
}
#u79296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 57, 62, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u79297 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:537px;
  width:200px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u79297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u79298 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:562px;
  width:250px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u79298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 197, 0, 1);
  border-radius:96px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F84146;
}
#u79299 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:516px;
  width:192px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F84146;
}
#u79299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
