body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u76598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  transition:none;
}
#u76598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
}
#u76598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u76599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u76599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u76600 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:241px;
  width:300px;
  height:210px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u76600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u76601 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:288px;
  width:260px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u76601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u76602 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:256px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u76602 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76602_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u76603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  background:inherit;
  background-color:rgba(132, 0, 255, 1);
  border-radius:130px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u76603 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:371px;
  width:260px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u76603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u76604 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:410px;
  width:260px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u76604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76605 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  transition:none;
}
#u76605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
}
#u76605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u76606 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u76606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u76607 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:241px;
  width:300px;
  height:210px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u76607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u76608 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:288px;
  width:260px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u76608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u76609 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:256px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u76609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u76610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:130px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u76610 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:371px;
  width:260px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u76610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u76611 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:410px;
  width:260px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u76611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76612 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:258px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u76612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u76612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76613 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:258px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u76613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u76613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
