body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u44154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  transition:none;
}
#u44154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
}
#u44154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u44155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u44155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u44156 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:241px;
  width:300px;
  height:210px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u44156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u44157 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:288px;
  width:260px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u44157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u44158 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:256px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u44158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44158_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u44159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  background:inherit;
  background-color:rgba(132, 0, 255, 1);
  border-radius:130px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u44159 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:371px;
  width:260px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u44159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u44160 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:410px;
  width:260px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u44160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44161 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  transition:none;
}
#u44161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
}
#u44161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u44162 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u44162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u44163 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:241px;
  width:300px;
  height:210px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u44163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u44164 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:288px;
  width:260px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u44164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u44165 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:256px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u44165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u44166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:130px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u44166 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:371px;
  width:260px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u44166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u44167 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:410px;
  width:260px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u44167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44168 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:258px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u44168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u44168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44169 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:258px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u44169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u44169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
