body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u73752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  transition:none;
}
#u73752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
}
#u73752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u73753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u73753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u73754 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:241px;
  width:300px;
  height:210px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u73754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u73755 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:288px;
  width:260px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u73755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u73756 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:256px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u73756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73756_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  background:inherit;
  background-color:rgba(132, 0, 255, 1);
  border-radius:130px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u73757 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:371px;
  width:260px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u73757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u73758 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:410px;
  width:260px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u73758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73759 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  transition:none;
}
#u73759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
}
#u73759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:782px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u73760 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:360px;
  height:782px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u73760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u73761 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:241px;
  width:300px;
  height:210px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u73761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u73762 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:288px;
  width:260px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u73762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u73763 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:256px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u73763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:130px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u73764 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:371px;
  width:260px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u73764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u73765 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:410px;
  width:260px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(217, 0, 27, 0.4980392156862745);
  text-align:center;
}
#u73765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73766 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:258px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u73766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u73766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73767 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:258px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u73767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u73767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
