body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:2039px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u63412 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:106px;
  width:868px;
  height:678px;
  display:flex;
  transition:none;
}
#u63412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:678px;
}
#u63412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63413 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:106px;
  width:983px;
  height:679px;
  display:flex;
  transition:none;
}
#u63413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:679px;
}
#u63413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63414 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1030px;
  width:644px;
  height:482px;
  display:flex;
  transition:none;
}
#u63414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:482px;
}
#u63414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63415 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1030px;
  width:772px;
  height:482px;
  display:flex;
  transition:none;
}
#u63415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:482px;
}
#u63415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63416 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1722px;
  width:626px;
  height:358px;
  display:flex;
  transition:none;
}
#u63416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:358px;
}
#u63416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63417 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:1720px;
  width:626px;
  height:360px;
  display:flex;
  transition:none;
}
#u63417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:360px;
}
#u63417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63418 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1722px;
  width:622px;
  height:516px;
  display:flex;
  transition:none;
}
#u63418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:516px;
}
#u63418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
