body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:2039px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u65780 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:106px;
  width:868px;
  height:678px;
  display:flex;
  transition:none;
}
#u65780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:678px;
}
#u65780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65781 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:106px;
  width:983px;
  height:679px;
  display:flex;
  transition:none;
}
#u65781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:679px;
}
#u65781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65782 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1030px;
  width:644px;
  height:482px;
  display:flex;
  transition:none;
}
#u65782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:482px;
}
#u65782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65783 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1030px;
  width:772px;
  height:482px;
  display:flex;
  transition:none;
}
#u65783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:482px;
}
#u65783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65784 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1722px;
  width:626px;
  height:358px;
  display:flex;
  transition:none;
}
#u65784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:358px;
}
#u65784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65785 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:1720px;
  width:626px;
  height:360px;
  display:flex;
  transition:none;
}
#u65785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:360px;
}
#u65785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65786 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1722px;
  width:622px;
  height:516px;
  display:flex;
  transition:none;
}
#u65786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:516px;
}
#u65786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
