body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:2039px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u66576 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:106px;
  width:868px;
  height:678px;
  display:flex;
  transition:none;
}
#u66576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:678px;
}
#u66576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66577 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:106px;
  width:983px;
  height:679px;
  display:flex;
  transition:none;
}
#u66577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:679px;
}
#u66577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66578 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1030px;
  width:644px;
  height:482px;
  display:flex;
  transition:none;
}
#u66578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:482px;
}
#u66578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66579 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1030px;
  width:772px;
  height:482px;
  display:flex;
  transition:none;
}
#u66579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:482px;
}
#u66579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66580 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1722px;
  width:626px;
  height:358px;
  display:flex;
  transition:none;
}
#u66580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:358px;
}
#u66580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66581 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:1720px;
  width:626px;
  height:360px;
  display:flex;
  transition:none;
}
#u66581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:360px;
}
#u66581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66582 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1722px;
  width:622px;
  height:516px;
  display:flex;
  transition:none;
}
#u66582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:516px;
}
#u66582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
