body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:2039px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u65963 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:106px;
  width:868px;
  height:678px;
  display:flex;
  transition:none;
}
#u65963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:678px;
}
#u65963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65964 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:106px;
  width:983px;
  height:679px;
  display:flex;
  transition:none;
}
#u65964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:679px;
}
#u65964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65965 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1030px;
  width:644px;
  height:482px;
  display:flex;
  transition:none;
}
#u65965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:482px;
}
#u65965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65966 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1030px;
  width:772px;
  height:482px;
  display:flex;
  transition:none;
}
#u65966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:482px;
}
#u65966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65967 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1722px;
  width:626px;
  height:358px;
  display:flex;
  transition:none;
}
#u65967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:358px;
}
#u65967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65968 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:1720px;
  width:626px;
  height:360px;
  display:flex;
  transition:none;
}
#u65968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:360px;
}
#u65968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65969 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1722px;
  width:622px;
  height:516px;
  display:flex;
  transition:none;
}
#u65969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:516px;
}
#u65969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
