body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:2039px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u65981 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:106px;
  width:868px;
  height:678px;
  display:flex;
  transition:none;
}
#u65981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:678px;
}
#u65981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65982 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:106px;
  width:983px;
  height:679px;
  display:flex;
  transition:none;
}
#u65982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:679px;
}
#u65982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65983 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1030px;
  width:644px;
  height:482px;
  display:flex;
  transition:none;
}
#u65983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:482px;
}
#u65983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65984 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1030px;
  width:772px;
  height:482px;
  display:flex;
  transition:none;
}
#u65984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:482px;
}
#u65984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65985 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1722px;
  width:626px;
  height:358px;
  display:flex;
  transition:none;
}
#u65985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:358px;
}
#u65985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65986 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:1720px;
  width:626px;
  height:360px;
  display:flex;
  transition:none;
}
#u65986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:360px;
}
#u65986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65987 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1722px;
  width:622px;
  height:516px;
  display:flex;
  transition:none;
}
#u65987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:516px;
}
#u65987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
