body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u77460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u77460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u77460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:234px;
  display:flex;
  transition:none;
}
#u77461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:234px;
}
#u77461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:360px;
  height:490px;
}
#u77462_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:490px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77462_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77463 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77464 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:130px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77464_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77465 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:7px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77466 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:130px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77466 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77466_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77467 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:177px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77468 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:300px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77469 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:177px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77470 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:300px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77470_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77471 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:347px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77472 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:470px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77472_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77473 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:347px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77474 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:470px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77475 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:517px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77476 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:640px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77476 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77476_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77477 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:517px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u77477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77478 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:640px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77479 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:677px;
  width:100px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77481 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:75px;
  width:31px;
  height:36px;
  display:flex;
  transition:none;
}
#u77481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u77481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77482 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:63px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u77482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u77482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77484 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:245px;
  width:31px;
  height:36px;
  display:flex;
  transition:none;
}
#u77484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u77484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77485 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:233px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u77485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u77485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77487 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:415px;
  width:31px;
  height:36px;
  display:flex;
  transition:none;
}
#u77487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u77487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77488 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:403px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u77488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u77488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77490 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:585px;
  width:31px;
  height:36px;
  display:flex;
  transition:none;
}
#u77490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u77490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77491 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:573px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u77491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u77491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u77492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u77492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77493_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77494 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u77494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u77494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77495 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u77495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u77495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77496 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:17px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77496 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77496_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77497 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:17px;
  width:40px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77497_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77498 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:17px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77499 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:17px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:360px;
  height:56px;
  display:flex;
  transition:none;
}
#u77500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77500_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:370px;
  height:66px;
}
#u77500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77502 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:596px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  color:#8400FF;
}
#u77502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u77502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#8400FF;
  text-align:center;
}
#u77503 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:616px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#8400FF;
  text-align:center;
}
#u77503 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77505 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:596px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u77505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u77505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u77506 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:616px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u77506 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77508 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:596px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u77508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u77508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u77509 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:616px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u77509 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77511 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:596px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u77511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u77511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u77512 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:616px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u77512 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u77513 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:17px;
  width:44px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u77513 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:2px;
  background:inherit;
  background-color:rgba(132, 0, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u77514 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:42px;
  width:30px;
  height:2px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u77514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
  display:flex;
  transition:none;
}
#u77515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u77515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.09803921568627451);
}
#u77516 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:57px;
  width:330px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.09803921568627451);
}
#u77516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
