body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u53679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1200px;
  height:544px;
  display:flex;
  transition:none;
}
#u53679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:544px;
}
#u53679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53680 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:89px;
  width:45px;
  height:453px;
  display:flex;
  transition:none;
}
#u53680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:453px;
}
#u53680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53681 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:89px;
  width:42px;
  height:453px;
  display:flex;
  transition:none;
}
#u53681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:453px;
}
#u53681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:8px;
  color:#D9001B;
}
#u53682 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:96px;
  width:33px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:8px;
  color:#D9001B;
}
#u53682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u53683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u53683 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:122px;
  width:19px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u53683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u53684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u53684 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:148px;
  width:19px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u53684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u53685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u53685 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:177px;
  width:19px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u53685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u53686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u53686 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:203px;
  width:19px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u53686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
