body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u43479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1200px;
  height:544px;
  display:flex;
  transition:none;
}
#u43479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:544px;
}
#u43479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43480 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:89px;
  width:45px;
  height:453px;
  display:flex;
  transition:none;
}
#u43480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:453px;
}
#u43480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43481 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:89px;
  width:42px;
  height:453px;
  display:flex;
  transition:none;
}
#u43481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:453px;
}
#u43481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:8px;
  color:#D9001B;
}
#u43482 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:96px;
  width:33px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:8px;
  color:#D9001B;
}
#u43482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u43483 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:122px;
  width:19px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u43483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43483_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u43484 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:148px;
  width:19px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u43484 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43484_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u43485 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:177px;
  width:19px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u43485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43485_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u43486 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:203px;
  width:19px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#D9001B;
}
#u43486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
