body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u49902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u49902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
}
#u49902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49903 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:630px;
  width:51px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49903 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49904 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:679px;
  width:6px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49905 label {
  left:0px;
  width:100%;
  height:100%;
}
#u49905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u49905 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u49905_img.selected {
}
#u49905.selected {
}
#u49905_img.disabled {
}
#u49905.disabled {
}
#u49905_img.selected.error {
}
#u49905.selected.error {
}
#u49905_img.selected.hint {
}
#u49905.selected.hint {
}
#u49905_img.selected.error.hint {
}
#u49905.selected.error.hint {
}
#u49905_img.mouseOver.selected {
}
#u49905.mouseOver.selected {
}
#u49905_img.mouseOver.selected.error {
}
#u49905.mouseOver.selected.error {
}
#u49905_img.mouseOver.selected.hint {
}
#u49905.mouseOver.selected.hint {
}
#u49905_img.mouseOver.selected.error.hint {
}
#u49905.mouseOver.selected.error.hint {
}
#u49905_img.mouseDown.selected {
}
#u49905.mouseDown.selected {
}
#u49905_img.mouseDown.selected.error {
}
#u49905.mouseDown.selected.error {
}
#u49905_img.mouseDown.selected.hint {
}
#u49905.mouseDown.selected.hint {
}
#u49905_img.mouseDown.selected.error.hint {
}
#u49905.mouseDown.selected.error.hint {
}
#u49905_img.mouseOver.mouseDown.selected {
}
#u49905.mouseOver.mouseDown.selected {
}
#u49905_img.mouseOver.mouseDown.selected.error {
}
#u49905.mouseOver.mouseDown.selected.error {
}
#u49905_img.mouseOver.mouseDown.selected.hint {
}
#u49905.mouseOver.mouseDown.selected.hint {
}
#u49905_img.mouseOver.mouseDown.selected.error.hint {
}
#u49905.mouseOver.mouseDown.selected.error.hint {
}
#u49905_img.focused.selected {
}
#u49905.focused.selected {
}
#u49905_img.focused.selected.error {
}
#u49905.focused.selected.error {
}
#u49905_img.focused.selected.hint {
}
#u49905.focused.selected.hint {
}
#u49905_img.focused.selected.error.hint {
}
#u49905.focused.selected.error.hint {
}
#u49905_img.selected.disabled {
}
#u49905.selected.disabled {
}
#u49905_img.selected.hint.disabled {
}
#u49905.selected.hint.disabled {
}
#u49905_img.selected.error.disabled {
}
#u49905.selected.error.disabled {
}
#u49905_img.selected.error.hint.disabled {
}
#u49905.selected.error.hint.disabled {
}
#u49905_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u49905_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u49906 label {
  left:0px;
  width:100%;
  height:100%;
}
#u49906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u49906 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49906 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u49906_img.selected {
}
#u49906.selected {
}
#u49906_img.disabled {
}
#u49906.disabled {
}
#u49906_img.selected.error {
}
#u49906.selected.error {
}
#u49906_img.selected.hint {
}
#u49906.selected.hint {
}
#u49906_img.selected.error.hint {
}
#u49906.selected.error.hint {
}
#u49906_img.mouseOver.selected {
}
#u49906.mouseOver.selected {
}
#u49906_img.mouseOver.selected.error {
}
#u49906.mouseOver.selected.error {
}
#u49906_img.mouseOver.selected.hint {
}
#u49906.mouseOver.selected.hint {
}
#u49906_img.mouseOver.selected.error.hint {
}
#u49906.mouseOver.selected.error.hint {
}
#u49906_img.mouseDown.selected {
}
#u49906.mouseDown.selected {
}
#u49906_img.mouseDown.selected.error {
}
#u49906.mouseDown.selected.error {
}
#u49906_img.mouseDown.selected.hint {
}
#u49906.mouseDown.selected.hint {
}
#u49906_img.mouseDown.selected.error.hint {
}
#u49906.mouseDown.selected.error.hint {
}
#u49906_img.mouseOver.mouseDown.selected {
}
#u49906.mouseOver.mouseDown.selected {
}
#u49906_img.mouseOver.mouseDown.selected.error {
}
#u49906.mouseOver.mouseDown.selected.error {
}
#u49906_img.mouseOver.mouseDown.selected.hint {
}
#u49906.mouseOver.mouseDown.selected.hint {
}
#u49906_img.mouseOver.mouseDown.selected.error.hint {
}
#u49906.mouseOver.mouseDown.selected.error.hint {
}
#u49906_img.focused.selected {
}
#u49906.focused.selected {
}
#u49906_img.focused.selected.error {
}
#u49906.focused.selected.error {
}
#u49906_img.focused.selected.hint {
}
#u49906.focused.selected.hint {
}
#u49906_img.focused.selected.error.hint {
}
#u49906.focused.selected.error.hint {
}
#u49906_img.selected.disabled {
}
#u49906.selected.disabled {
}
#u49906_img.selected.hint.disabled {
}
#u49906.selected.hint.disabled {
}
#u49906_img.selected.error.disabled {
}
#u49906.selected.error.disabled {
}
#u49906_img.selected.error.hint.disabled {
}
#u49906.selected.error.hint.disabled {
}
#u49906_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u49906_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u49907 label {
  left:0px;
  width:100%;
  height:100%;
}
#u49907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u49907 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u49907_img.selected {
}
#u49907.selected {
}
#u49907_img.disabled {
}
#u49907.disabled {
}
#u49907_img.selected.error {
}
#u49907.selected.error {
}
#u49907_img.selected.hint {
}
#u49907.selected.hint {
}
#u49907_img.selected.error.hint {
}
#u49907.selected.error.hint {
}
#u49907_img.mouseOver.selected {
}
#u49907.mouseOver.selected {
}
#u49907_img.mouseOver.selected.error {
}
#u49907.mouseOver.selected.error {
}
#u49907_img.mouseOver.selected.hint {
}
#u49907.mouseOver.selected.hint {
}
#u49907_img.mouseOver.selected.error.hint {
}
#u49907.mouseOver.selected.error.hint {
}
#u49907_img.mouseDown.selected {
}
#u49907.mouseDown.selected {
}
#u49907_img.mouseDown.selected.error {
}
#u49907.mouseDown.selected.error {
}
#u49907_img.mouseDown.selected.hint {
}
#u49907.mouseDown.selected.hint {
}
#u49907_img.mouseDown.selected.error.hint {
}
#u49907.mouseDown.selected.error.hint {
}
#u49907_img.mouseOver.mouseDown.selected {
}
#u49907.mouseOver.mouseDown.selected {
}
#u49907_img.mouseOver.mouseDown.selected.error {
}
#u49907.mouseOver.mouseDown.selected.error {
}
#u49907_img.mouseOver.mouseDown.selected.hint {
}
#u49907.mouseOver.mouseDown.selected.hint {
}
#u49907_img.mouseOver.mouseDown.selected.error.hint {
}
#u49907.mouseOver.mouseDown.selected.error.hint {
}
#u49907_img.focused.selected {
}
#u49907.focused.selected {
}
#u49907_img.focused.selected.error {
}
#u49907.focused.selected.error {
}
#u49907_img.focused.selected.hint {
}
#u49907.focused.selected.hint {
}
#u49907_img.focused.selected.error.hint {
}
#u49907.focused.selected.error.hint {
}
#u49907_img.selected.disabled {
}
#u49907.selected.disabled {
}
#u49907_img.selected.hint.disabled {
}
#u49907.selected.hint.disabled {
}
#u49907_img.selected.error.disabled {
}
#u49907.selected.error.disabled {
}
#u49907_img.selected.error.hint.disabled {
}
#u49907.selected.error.hint.disabled {
}
#u49907_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u49907_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u49908 label {
  left:0px;
  width:100%;
  height:100%;
}
#u49908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u49908 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:630px;
  width:45px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u49908_img.selected {
}
#u49908.selected {
}
#u49908_img.disabled {
}
#u49908.disabled {
}
#u49908_img.selected.error {
}
#u49908.selected.error {
}
#u49908_img.selected.hint {
}
#u49908.selected.hint {
}
#u49908_img.selected.error.hint {
}
#u49908.selected.error.hint {
}
#u49908_img.mouseOver.selected {
}
#u49908.mouseOver.selected {
}
#u49908_img.mouseOver.selected.error {
}
#u49908.mouseOver.selected.error {
}
#u49908_img.mouseOver.selected.hint {
}
#u49908.mouseOver.selected.hint {
}
#u49908_img.mouseOver.selected.error.hint {
}
#u49908.mouseOver.selected.error.hint {
}
#u49908_img.mouseDown.selected {
}
#u49908.mouseDown.selected {
}
#u49908_img.mouseDown.selected.error {
}
#u49908.mouseDown.selected.error {
}
#u49908_img.mouseDown.selected.hint {
}
#u49908.mouseDown.selected.hint {
}
#u49908_img.mouseDown.selected.error.hint {
}
#u49908.mouseDown.selected.error.hint {
}
#u49908_img.mouseOver.mouseDown.selected {
}
#u49908.mouseOver.mouseDown.selected {
}
#u49908_img.mouseOver.mouseDown.selected.error {
}
#u49908.mouseOver.mouseDown.selected.error {
}
#u49908_img.mouseOver.mouseDown.selected.hint {
}
#u49908.mouseOver.mouseDown.selected.hint {
}
#u49908_img.mouseOver.mouseDown.selected.error.hint {
}
#u49908.mouseOver.mouseDown.selected.error.hint {
}
#u49908_img.focused.selected {
}
#u49908.focused.selected {
}
#u49908_img.focused.selected.error {
}
#u49908.focused.selected.error {
}
#u49908_img.focused.selected.hint {
}
#u49908.focused.selected.hint {
}
#u49908_img.focused.selected.error.hint {
}
#u49908.focused.selected.error.hint {
}
#u49908_img.selected.disabled {
}
#u49908.selected.disabled {
}
#u49908_img.selected.hint.disabled {
}
#u49908.selected.hint.disabled {
}
#u49908_img.selected.error.disabled {
}
#u49908.selected.error.disabled {
}
#u49908_img.selected.error.hint.disabled {
}
#u49908.selected.error.hint.disabled {
}
#u49908_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:32px;
  white-space:nowrap;
  text-transform:none;
}
#u49908_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u49909 label {
  left:0px;
  width:100%;
  height:100%;
}
#u49909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u49909 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u49909_img.selected {
}
#u49909.selected {
}
#u49909_img.disabled {
}
#u49909.disabled {
}
#u49909_img.selected.error {
}
#u49909.selected.error {
}
#u49909_img.selected.hint {
}
#u49909.selected.hint {
}
#u49909_img.selected.error.hint {
}
#u49909.selected.error.hint {
}
#u49909_img.mouseOver.selected {
}
#u49909.mouseOver.selected {
}
#u49909_img.mouseOver.selected.error {
}
#u49909.mouseOver.selected.error {
}
#u49909_img.mouseOver.selected.hint {
}
#u49909.mouseOver.selected.hint {
}
#u49909_img.mouseOver.selected.error.hint {
}
#u49909.mouseOver.selected.error.hint {
}
#u49909_img.mouseDown.selected {
}
#u49909.mouseDown.selected {
}
#u49909_img.mouseDown.selected.error {
}
#u49909.mouseDown.selected.error {
}
#u49909_img.mouseDown.selected.hint {
}
#u49909.mouseDown.selected.hint {
}
#u49909_img.mouseDown.selected.error.hint {
}
#u49909.mouseDown.selected.error.hint {
}
#u49909_img.mouseOver.mouseDown.selected {
}
#u49909.mouseOver.mouseDown.selected {
}
#u49909_img.mouseOver.mouseDown.selected.error {
}
#u49909.mouseOver.mouseDown.selected.error {
}
#u49909_img.mouseOver.mouseDown.selected.hint {
}
#u49909.mouseOver.mouseDown.selected.hint {
}
#u49909_img.mouseOver.mouseDown.selected.error.hint {
}
#u49909.mouseOver.mouseDown.selected.error.hint {
}
#u49909_img.focused.selected {
}
#u49909.focused.selected {
}
#u49909_img.focused.selected.error {
}
#u49909.focused.selected.error {
}
#u49909_img.focused.selected.hint {
}
#u49909.focused.selected.hint {
}
#u49909_img.focused.selected.error.hint {
}
#u49909.focused.selected.error.hint {
}
#u49909_img.selected.disabled {
}
#u49909.selected.disabled {
}
#u49909_img.selected.hint.disabled {
}
#u49909.selected.hint.disabled {
}
#u49909_img.selected.error.disabled {
}
#u49909.selected.error.disabled {
}
#u49909_img.selected.error.hint.disabled {
}
#u49909.selected.error.hint.disabled {
}
#u49909_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u49909_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u49910 label {
  left:0px;
  width:100%;
  height:100%;
}
#u49910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u49910 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:630px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49910 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u49910_img.selected {
}
#u49910.selected {
}
#u49910_img.disabled {
}
#u49910.disabled {
}
#u49910_img.selected.error {
}
#u49910.selected.error {
}
#u49910_img.selected.hint {
}
#u49910.selected.hint {
}
#u49910_img.selected.error.hint {
}
#u49910.selected.error.hint {
}
#u49910_img.mouseOver.selected {
}
#u49910.mouseOver.selected {
}
#u49910_img.mouseOver.selected.error {
}
#u49910.mouseOver.selected.error {
}
#u49910_img.mouseOver.selected.hint {
}
#u49910.mouseOver.selected.hint {
}
#u49910_img.mouseOver.selected.error.hint {
}
#u49910.mouseOver.selected.error.hint {
}
#u49910_img.mouseDown.selected {
}
#u49910.mouseDown.selected {
}
#u49910_img.mouseDown.selected.error {
}
#u49910.mouseDown.selected.error {
}
#u49910_img.mouseDown.selected.hint {
}
#u49910.mouseDown.selected.hint {
}
#u49910_img.mouseDown.selected.error.hint {
}
#u49910.mouseDown.selected.error.hint {
}
#u49910_img.mouseOver.mouseDown.selected {
}
#u49910.mouseOver.mouseDown.selected {
}
#u49910_img.mouseOver.mouseDown.selected.error {
}
#u49910.mouseOver.mouseDown.selected.error {
}
#u49910_img.mouseOver.mouseDown.selected.hint {
}
#u49910.mouseOver.mouseDown.selected.hint {
}
#u49910_img.mouseOver.mouseDown.selected.error.hint {
}
#u49910.mouseOver.mouseDown.selected.error.hint {
}
#u49910_img.focused.selected {
}
#u49910.focused.selected {
}
#u49910_img.focused.selected.error {
}
#u49910.focused.selected.error {
}
#u49910_img.focused.selected.hint {
}
#u49910.focused.selected.hint {
}
#u49910_img.focused.selected.error.hint {
}
#u49910.focused.selected.error.hint {
}
#u49910_img.selected.disabled {
}
#u49910.selected.disabled {
}
#u49910_img.selected.hint.disabled {
}
#u49910.selected.hint.disabled {
}
#u49910_img.selected.error.disabled {
}
#u49910.selected.error.disabled {
}
#u49910_img.selected.error.hint.disabled {
}
#u49910.selected.error.hint.disabled {
}
#u49910_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:38px;
  white-space:nowrap;
  text-transform:none;
}
#u49910_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u49911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:1200px;
  height:542px;
  display:flex;
  transition:none;
}
#u49911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:542px;
}
#u49911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u49913 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:989px;
  width:745px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u49913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u49914 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u49914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49915 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:995px;
  width:66px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49915 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49915_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49916 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49917 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:995px;
  width:33px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49918 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49919 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:995px;
  width:52px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49920 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:995px;
  width:38px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49921 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49922 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1011px;
  width:52px;
  height:1px;
  display:flex;
  transition:none;
}
#u49922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u49922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49923 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49924 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u49925 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1021px;
  width:62px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u49925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u49926 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1309px;
  width:70px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u49926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49927 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1057px;
  width:65px;
  height:137px;
  display:flex;
  transition:none;
}
#u49927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49927_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:147px;
}
#u49927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49928 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1067px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49929 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1085px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49930 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1103px;
  width:46px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49931 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1121px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49931_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49932 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1139px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49932_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49933 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1157px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49933 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49933_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49934 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1175px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u49934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49934_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u49936 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1021px;
  width:490px;
  height:424px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u49936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u49937 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1045px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u49937 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49937_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u49938 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1127px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u49938 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49938_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49939_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49939_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u49939 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1121px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u49939 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49939_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u49939.disabled {
}
.u49939_input_option {
}
#u49940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49940_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u49940 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1171px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u49940 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49940_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u49940.disabled {
}
.u49940_input_option {
}
#u49941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u49941 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1227px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u49941 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49941_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49942_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49942_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49942_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u49942 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1221px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u49942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49942_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u49942.hint {
}
#u49942_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u49942.disabled {
}
#u49942_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u49942.hint.disabled {
}
#u49943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u49943 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1177px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u49943 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49943_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u49944 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1279px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u49944 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49944_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49945_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49945_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49945_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u49945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u49945 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1273px;
  width:83px;
  height:78px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u49945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49945_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u49945.hint {
}
#u49945_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u49945.disabled {
}
#u49945_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u49945.hint.disabled {
}
#u49946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u49946 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1081px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u49946 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u49947 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1081px;
  width:104px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u49947 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u49948 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1081px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u49948 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u49949 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u49949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(3, 159, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u49950 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u49950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
