body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u87525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:857px;
  display:flex;
  transition:none;
}
#u87525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:857px;
}
#u87525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:759px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u87526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1200px;
  height:759px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u87526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87528 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:396px;
  width:120px;
  height:120px;
  display:flex;
  transition:none;
}
#u87528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87528_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:130px;
  height:130px;
}
#u87528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u87529 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:387px;
  width:109px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u87529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87529_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(137, 85, 247, 1);
  border-radius:76px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u87530 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:486px;
  width:120px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u87530 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87530_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u87531 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:524px;
  width:139px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u87531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87531_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u87532 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:550px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u87532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87532_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:38px;
  height:38px;
}
#u87532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87533 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:555px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u87533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87533_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:28px;
  height:28px;
}
#u87533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
