body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-170px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u82056 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:360px;
  height:640px;
  display:flex;
  transition:none;
}
#u82056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82056_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:370px;
  height:650px;
}
#u82056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u82057 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u82057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82058 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:91px;
  width:15px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
}
#u82058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u82058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u82059 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:520px;
  width:300px;
  height:130px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u82060 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:576px;
  width:210px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u82060 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82060_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u82061 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:670px;
  width:285px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82061 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82061_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u82062 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:133px;
  width:300px;
  height:364px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u82063 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:541px;
  width:81px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u82063 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82063_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u82064 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:164px;
  width:161px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u82064 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82064_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82065 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:303px;
  width:150px;
  height:150px;
  display:flex;
  transition:none;
}
#u82065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u82065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u82066 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:225px;
  width:222px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u82066 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82066_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(51, 51, 51, 0.4980392156862745);
  text-align:center;
}
#u82067 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:465px;
  width:91px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(51, 51, 51, 0.4980392156862745);
  text-align:center;
}
#u82067 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82067_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82068 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:70px;
  width:295px;
  height:640px;
  display:flex;
  transition:none;
}
#u82068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:640px;
}
#u82068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82069 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:490px;
  width:70px;
  height:70px;
  display:flex;
  transition:none;
}
#u82069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u82069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u82070 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:475px;
  width:149px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u82070 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82070_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
