body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-170px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u55284 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:360px;
  height:640px;
  display:flex;
  transition:none;
}
#u55284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55284_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:370px;
  height:650px;
}
#u55284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u55285 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u55285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55286 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:91px;
  width:15px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
}
#u55286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u55286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u55287 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:520px;
  width:300px;
  height:130px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u55287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u55288 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:576px;
  width:210px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u55288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55288_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u55289 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:670px;
  width:285px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u55289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u55290 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:133px;
  width:300px;
  height:364px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u55290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u55291 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:541px;
  width:81px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u55291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u55292 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:164px;
  width:161px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u55292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55293 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:303px;
  width:150px;
  height:150px;
  display:flex;
  transition:none;
}
#u55293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u55293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u55294 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:225px;
  width:222px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u55294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55294_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(51, 51, 51, 0.4980392156862745);
  text-align:center;
}
#u55295 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:465px;
  width:91px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(51, 51, 51, 0.4980392156862745);
  text-align:center;
}
#u55295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55295_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55296 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:70px;
  width:295px;
  height:640px;
  display:flex;
  transition:none;
}
#u55296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:640px;
}
#u55296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55297 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:490px;
  width:70px;
  height:70px;
  display:flex;
  transition:none;
}
#u55297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u55297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u55298 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:475px;
  width:149px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u55298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55298_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
