body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-170px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u55998 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:360px;
  height:640px;
  display:flex;
  transition:none;
}
#u55998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55998_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:370px;
  height:650px;
}
#u55998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u55999 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u55999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56000 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:91px;
  width:15px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
}
#u56000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u56000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u56001 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:520px;
  width:300px;
  height:130px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u56001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u56002 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:576px;
  width:210px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u56002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u56003 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:670px;
  width:285px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u56003 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56003_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u56004 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:133px;
  width:300px;
  height:364px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u56004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u56005 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:541px;
  width:81px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u56005 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56005_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u56006 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:164px;
  width:161px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u56006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56007 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:303px;
  width:150px;
  height:150px;
  display:flex;
  transition:none;
}
#u56007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u56007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u56008 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:225px;
  width:222px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u56008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56008_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(51, 51, 51, 0.4980392156862745);
  text-align:center;
}
#u56009 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:465px;
  width:91px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(51, 51, 51, 0.4980392156862745);
  text-align:center;
}
#u56009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56009_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56010 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:70px;
  width:295px;
  height:640px;
  display:flex;
  transition:none;
}
#u56010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:640px;
}
#u56010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56011 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:490px;
  width:70px;
  height:70px;
  display:flex;
  transition:none;
}
#u56011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u56011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u56012 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:475px;
  width:149px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u56012 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56012_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
