body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-170px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u82269 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:360px;
  height:640px;
  display:flex;
  transition:none;
}
#u82269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82269_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:370px;
  height:650px;
}
#u82269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u82270 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u82270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82271 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:91px;
  width:15px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
}
#u82271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u82271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u82272 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:520px;
  width:300px;
  height:130px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u82273 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:576px;
  width:210px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u82273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u82274 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:670px;
  width:285px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u82275 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:133px;
  width:300px;
  height:364px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u82276 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:541px;
  width:81px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u82276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u82277 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:164px;
  width:161px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u82277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82278 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:303px;
  width:150px;
  height:150px;
  display:flex;
  transition:none;
}
#u82278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u82278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u82279 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:225px;
  width:222px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u82279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(51, 51, 51, 0.4980392156862745);
  text-align:center;
}
#u82280 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:465px;
  width:91px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:rgba(51, 51, 51, 0.4980392156862745);
  text-align:center;
}
#u82280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82281 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:70px;
  width:295px;
  height:640px;
  display:flex;
  transition:none;
}
#u82281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:640px;
}
#u82281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82282 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:490px;
  width:70px;
  height:70px;
  display:flex;
  transition:none;
}
#u82282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u82282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u82283 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:475px;
  width:149px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u82283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
