body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u77467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u77467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
}
#u77467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77468 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:630px;
  width:51px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77468 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77469 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:679px;
  width:6px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77469_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77470 label {
  left:0px;
  width:100%;
  height:100%;
}
#u77470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u77470 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u77470_img.selected {
}
#u77470.selected {
}
#u77470_img.disabled {
}
#u77470.disabled {
}
#u77470_img.selected.error {
}
#u77470.selected.error {
}
#u77470_img.selected.hint {
}
#u77470.selected.hint {
}
#u77470_img.selected.error.hint {
}
#u77470.selected.error.hint {
}
#u77470_img.mouseOver.selected {
}
#u77470.mouseOver.selected {
}
#u77470_img.mouseOver.selected.error {
}
#u77470.mouseOver.selected.error {
}
#u77470_img.mouseOver.selected.hint {
}
#u77470.mouseOver.selected.hint {
}
#u77470_img.mouseOver.selected.error.hint {
}
#u77470.mouseOver.selected.error.hint {
}
#u77470_img.mouseDown.selected {
}
#u77470.mouseDown.selected {
}
#u77470_img.mouseDown.selected.error {
}
#u77470.mouseDown.selected.error {
}
#u77470_img.mouseDown.selected.hint {
}
#u77470.mouseDown.selected.hint {
}
#u77470_img.mouseDown.selected.error.hint {
}
#u77470.mouseDown.selected.error.hint {
}
#u77470_img.mouseOver.mouseDown.selected {
}
#u77470.mouseOver.mouseDown.selected {
}
#u77470_img.mouseOver.mouseDown.selected.error {
}
#u77470.mouseOver.mouseDown.selected.error {
}
#u77470_img.mouseOver.mouseDown.selected.hint {
}
#u77470.mouseOver.mouseDown.selected.hint {
}
#u77470_img.mouseOver.mouseDown.selected.error.hint {
}
#u77470.mouseOver.mouseDown.selected.error.hint {
}
#u77470_img.focused.selected {
}
#u77470.focused.selected {
}
#u77470_img.focused.selected.error {
}
#u77470.focused.selected.error {
}
#u77470_img.focused.selected.hint {
}
#u77470.focused.selected.hint {
}
#u77470_img.focused.selected.error.hint {
}
#u77470.focused.selected.error.hint {
}
#u77470_img.selected.disabled {
}
#u77470.selected.disabled {
}
#u77470_img.selected.hint.disabled {
}
#u77470.selected.hint.disabled {
}
#u77470_img.selected.error.disabled {
}
#u77470.selected.error.disabled {
}
#u77470_img.selected.error.hint.disabled {
}
#u77470.selected.error.hint.disabled {
}
#u77470_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u77470_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u77471 label {
  left:0px;
  width:100%;
  height:100%;
}
#u77471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u77471 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u77471_img.selected {
}
#u77471.selected {
}
#u77471_img.disabled {
}
#u77471.disabled {
}
#u77471_img.selected.error {
}
#u77471.selected.error {
}
#u77471_img.selected.hint {
}
#u77471.selected.hint {
}
#u77471_img.selected.error.hint {
}
#u77471.selected.error.hint {
}
#u77471_img.mouseOver.selected {
}
#u77471.mouseOver.selected {
}
#u77471_img.mouseOver.selected.error {
}
#u77471.mouseOver.selected.error {
}
#u77471_img.mouseOver.selected.hint {
}
#u77471.mouseOver.selected.hint {
}
#u77471_img.mouseOver.selected.error.hint {
}
#u77471.mouseOver.selected.error.hint {
}
#u77471_img.mouseDown.selected {
}
#u77471.mouseDown.selected {
}
#u77471_img.mouseDown.selected.error {
}
#u77471.mouseDown.selected.error {
}
#u77471_img.mouseDown.selected.hint {
}
#u77471.mouseDown.selected.hint {
}
#u77471_img.mouseDown.selected.error.hint {
}
#u77471.mouseDown.selected.error.hint {
}
#u77471_img.mouseOver.mouseDown.selected {
}
#u77471.mouseOver.mouseDown.selected {
}
#u77471_img.mouseOver.mouseDown.selected.error {
}
#u77471.mouseOver.mouseDown.selected.error {
}
#u77471_img.mouseOver.mouseDown.selected.hint {
}
#u77471.mouseOver.mouseDown.selected.hint {
}
#u77471_img.mouseOver.mouseDown.selected.error.hint {
}
#u77471.mouseOver.mouseDown.selected.error.hint {
}
#u77471_img.focused.selected {
}
#u77471.focused.selected {
}
#u77471_img.focused.selected.error {
}
#u77471.focused.selected.error {
}
#u77471_img.focused.selected.hint {
}
#u77471.focused.selected.hint {
}
#u77471_img.focused.selected.error.hint {
}
#u77471.focused.selected.error.hint {
}
#u77471_img.selected.disabled {
}
#u77471.selected.disabled {
}
#u77471_img.selected.hint.disabled {
}
#u77471.selected.hint.disabled {
}
#u77471_img.selected.error.disabled {
}
#u77471.selected.error.disabled {
}
#u77471_img.selected.error.hint.disabled {
}
#u77471.selected.error.hint.disabled {
}
#u77471_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u77471_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u77472 label {
  left:0px;
  width:100%;
  height:100%;
}
#u77472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u77472 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u77472_img.selected {
}
#u77472.selected {
}
#u77472_img.disabled {
}
#u77472.disabled {
}
#u77472_img.selected.error {
}
#u77472.selected.error {
}
#u77472_img.selected.hint {
}
#u77472.selected.hint {
}
#u77472_img.selected.error.hint {
}
#u77472.selected.error.hint {
}
#u77472_img.mouseOver.selected {
}
#u77472.mouseOver.selected {
}
#u77472_img.mouseOver.selected.error {
}
#u77472.mouseOver.selected.error {
}
#u77472_img.mouseOver.selected.hint {
}
#u77472.mouseOver.selected.hint {
}
#u77472_img.mouseOver.selected.error.hint {
}
#u77472.mouseOver.selected.error.hint {
}
#u77472_img.mouseDown.selected {
}
#u77472.mouseDown.selected {
}
#u77472_img.mouseDown.selected.error {
}
#u77472.mouseDown.selected.error {
}
#u77472_img.mouseDown.selected.hint {
}
#u77472.mouseDown.selected.hint {
}
#u77472_img.mouseDown.selected.error.hint {
}
#u77472.mouseDown.selected.error.hint {
}
#u77472_img.mouseOver.mouseDown.selected {
}
#u77472.mouseOver.mouseDown.selected {
}
#u77472_img.mouseOver.mouseDown.selected.error {
}
#u77472.mouseOver.mouseDown.selected.error {
}
#u77472_img.mouseOver.mouseDown.selected.hint {
}
#u77472.mouseOver.mouseDown.selected.hint {
}
#u77472_img.mouseOver.mouseDown.selected.error.hint {
}
#u77472.mouseOver.mouseDown.selected.error.hint {
}
#u77472_img.focused.selected {
}
#u77472.focused.selected {
}
#u77472_img.focused.selected.error {
}
#u77472.focused.selected.error {
}
#u77472_img.focused.selected.hint {
}
#u77472.focused.selected.hint {
}
#u77472_img.focused.selected.error.hint {
}
#u77472.focused.selected.error.hint {
}
#u77472_img.selected.disabled {
}
#u77472.selected.disabled {
}
#u77472_img.selected.hint.disabled {
}
#u77472.selected.hint.disabled {
}
#u77472_img.selected.error.disabled {
}
#u77472.selected.error.disabled {
}
#u77472_img.selected.error.hint.disabled {
}
#u77472.selected.error.hint.disabled {
}
#u77472_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u77472_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u77473 label {
  left:0px;
  width:100%;
  height:100%;
}
#u77473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u77473 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:630px;
  width:45px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u77473_img.selected {
}
#u77473.selected {
}
#u77473_img.disabled {
}
#u77473.disabled {
}
#u77473_img.selected.error {
}
#u77473.selected.error {
}
#u77473_img.selected.hint {
}
#u77473.selected.hint {
}
#u77473_img.selected.error.hint {
}
#u77473.selected.error.hint {
}
#u77473_img.mouseOver.selected {
}
#u77473.mouseOver.selected {
}
#u77473_img.mouseOver.selected.error {
}
#u77473.mouseOver.selected.error {
}
#u77473_img.mouseOver.selected.hint {
}
#u77473.mouseOver.selected.hint {
}
#u77473_img.mouseOver.selected.error.hint {
}
#u77473.mouseOver.selected.error.hint {
}
#u77473_img.mouseDown.selected {
}
#u77473.mouseDown.selected {
}
#u77473_img.mouseDown.selected.error {
}
#u77473.mouseDown.selected.error {
}
#u77473_img.mouseDown.selected.hint {
}
#u77473.mouseDown.selected.hint {
}
#u77473_img.mouseDown.selected.error.hint {
}
#u77473.mouseDown.selected.error.hint {
}
#u77473_img.mouseOver.mouseDown.selected {
}
#u77473.mouseOver.mouseDown.selected {
}
#u77473_img.mouseOver.mouseDown.selected.error {
}
#u77473.mouseOver.mouseDown.selected.error {
}
#u77473_img.mouseOver.mouseDown.selected.hint {
}
#u77473.mouseOver.mouseDown.selected.hint {
}
#u77473_img.mouseOver.mouseDown.selected.error.hint {
}
#u77473.mouseOver.mouseDown.selected.error.hint {
}
#u77473_img.focused.selected {
}
#u77473.focused.selected {
}
#u77473_img.focused.selected.error {
}
#u77473.focused.selected.error {
}
#u77473_img.focused.selected.hint {
}
#u77473.focused.selected.hint {
}
#u77473_img.focused.selected.error.hint {
}
#u77473.focused.selected.error.hint {
}
#u77473_img.selected.disabled {
}
#u77473.selected.disabled {
}
#u77473_img.selected.hint.disabled {
}
#u77473.selected.hint.disabled {
}
#u77473_img.selected.error.disabled {
}
#u77473.selected.error.disabled {
}
#u77473_img.selected.error.hint.disabled {
}
#u77473.selected.error.hint.disabled {
}
#u77473_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:32px;
  white-space:nowrap;
  text-transform:none;
}
#u77473_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u77474 label {
  left:0px;
  width:100%;
  height:100%;
}
#u77474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u77474 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u77474_img.selected {
}
#u77474.selected {
}
#u77474_img.disabled {
}
#u77474.disabled {
}
#u77474_img.selected.error {
}
#u77474.selected.error {
}
#u77474_img.selected.hint {
}
#u77474.selected.hint {
}
#u77474_img.selected.error.hint {
}
#u77474.selected.error.hint {
}
#u77474_img.mouseOver.selected {
}
#u77474.mouseOver.selected {
}
#u77474_img.mouseOver.selected.error {
}
#u77474.mouseOver.selected.error {
}
#u77474_img.mouseOver.selected.hint {
}
#u77474.mouseOver.selected.hint {
}
#u77474_img.mouseOver.selected.error.hint {
}
#u77474.mouseOver.selected.error.hint {
}
#u77474_img.mouseDown.selected {
}
#u77474.mouseDown.selected {
}
#u77474_img.mouseDown.selected.error {
}
#u77474.mouseDown.selected.error {
}
#u77474_img.mouseDown.selected.hint {
}
#u77474.mouseDown.selected.hint {
}
#u77474_img.mouseDown.selected.error.hint {
}
#u77474.mouseDown.selected.error.hint {
}
#u77474_img.mouseOver.mouseDown.selected {
}
#u77474.mouseOver.mouseDown.selected {
}
#u77474_img.mouseOver.mouseDown.selected.error {
}
#u77474.mouseOver.mouseDown.selected.error {
}
#u77474_img.mouseOver.mouseDown.selected.hint {
}
#u77474.mouseOver.mouseDown.selected.hint {
}
#u77474_img.mouseOver.mouseDown.selected.error.hint {
}
#u77474.mouseOver.mouseDown.selected.error.hint {
}
#u77474_img.focused.selected {
}
#u77474.focused.selected {
}
#u77474_img.focused.selected.error {
}
#u77474.focused.selected.error {
}
#u77474_img.focused.selected.hint {
}
#u77474.focused.selected.hint {
}
#u77474_img.focused.selected.error.hint {
}
#u77474.focused.selected.error.hint {
}
#u77474_img.selected.disabled {
}
#u77474.selected.disabled {
}
#u77474_img.selected.hint.disabled {
}
#u77474.selected.hint.disabled {
}
#u77474_img.selected.error.disabled {
}
#u77474.selected.error.disabled {
}
#u77474_img.selected.error.hint.disabled {
}
#u77474.selected.error.hint.disabled {
}
#u77474_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u77474_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u77475 label {
  left:0px;
  width:100%;
  height:100%;
}
#u77475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u77475 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:630px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u77475_img.selected {
}
#u77475.selected {
}
#u77475_img.disabled {
}
#u77475.disabled {
}
#u77475_img.selected.error {
}
#u77475.selected.error {
}
#u77475_img.selected.hint {
}
#u77475.selected.hint {
}
#u77475_img.selected.error.hint {
}
#u77475.selected.error.hint {
}
#u77475_img.mouseOver.selected {
}
#u77475.mouseOver.selected {
}
#u77475_img.mouseOver.selected.error {
}
#u77475.mouseOver.selected.error {
}
#u77475_img.mouseOver.selected.hint {
}
#u77475.mouseOver.selected.hint {
}
#u77475_img.mouseOver.selected.error.hint {
}
#u77475.mouseOver.selected.error.hint {
}
#u77475_img.mouseDown.selected {
}
#u77475.mouseDown.selected {
}
#u77475_img.mouseDown.selected.error {
}
#u77475.mouseDown.selected.error {
}
#u77475_img.mouseDown.selected.hint {
}
#u77475.mouseDown.selected.hint {
}
#u77475_img.mouseDown.selected.error.hint {
}
#u77475.mouseDown.selected.error.hint {
}
#u77475_img.mouseOver.mouseDown.selected {
}
#u77475.mouseOver.mouseDown.selected {
}
#u77475_img.mouseOver.mouseDown.selected.error {
}
#u77475.mouseOver.mouseDown.selected.error {
}
#u77475_img.mouseOver.mouseDown.selected.hint {
}
#u77475.mouseOver.mouseDown.selected.hint {
}
#u77475_img.mouseOver.mouseDown.selected.error.hint {
}
#u77475.mouseOver.mouseDown.selected.error.hint {
}
#u77475_img.focused.selected {
}
#u77475.focused.selected {
}
#u77475_img.focused.selected.error {
}
#u77475.focused.selected.error {
}
#u77475_img.focused.selected.hint {
}
#u77475.focused.selected.hint {
}
#u77475_img.focused.selected.error.hint {
}
#u77475.focused.selected.error.hint {
}
#u77475_img.selected.disabled {
}
#u77475.selected.disabled {
}
#u77475_img.selected.hint.disabled {
}
#u77475.selected.hint.disabled {
}
#u77475_img.selected.error.disabled {
}
#u77475.selected.error.disabled {
}
#u77475_img.selected.error.hint.disabled {
}
#u77475.selected.error.hint.disabled {
}
#u77475_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:38px;
  white-space:nowrap;
  text-transform:none;
}
#u77475_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u77476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:1200px;
  height:542px;
  display:flex;
  transition:none;
}
#u77476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:542px;
}
#u77476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u77478 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:989px;
  width:745px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u77478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u77479 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u77479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77480 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:995px;
  width:66px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77480 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77480_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77481 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77481_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77482 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:995px;
  width:33px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77483 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77483_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77484 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:995px;
  width:52px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77484 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77484_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77485 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:995px;
  width:38px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77485_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77486 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77487 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1011px;
  width:52px;
  height:1px;
  display:flex;
  transition:none;
}
#u77487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u77487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77488 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77489 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77489 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77489_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u77490 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1021px;
  width:62px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u77490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u77491 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1309px;
  width:70px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u77491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77491_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77492 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1057px;
  width:65px;
  height:137px;
  display:flex;
  transition:none;
}
#u77492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77492_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:147px;
}
#u77492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77493 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1067px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77493_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77494 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1085px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77494_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77495 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1103px;
  width:46px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77495 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77495_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77496 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1121px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77496 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77496_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77497 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1139px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77497_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77498 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1157px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77499 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1175px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u77499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u77501 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1021px;
  width:490px;
  height:424px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u77501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u77502 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1045px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u77502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u77503 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1127px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u77503 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77504_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u77504 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1121px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u77504 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77504_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u77504.disabled {
}
.u77504_input_option {
}
#u77505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77505_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u77505 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1171px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u77505 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77505_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u77505.disabled {
}
.u77505_input_option {
}
#u77506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u77506 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1227px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u77506 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77507_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77507_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77507_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77507 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1221px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77507_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77507.hint {
}
#u77507_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77507.disabled {
}
#u77507_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77507.hint.disabled {
}
#u77508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u77508 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1177px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u77508 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u77509 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1279px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u77509 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77510_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77510_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77510_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u77510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u77510 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1273px;
  width:83px;
  height:78px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u77510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77510_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u77510.hint {
}
#u77510_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u77510.disabled {
}
#u77510_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u77510.hint.disabled {
}
#u77511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u77511 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1081px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u77511 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u77512 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1081px;
  width:104px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u77512 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u77513 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1081px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u77513 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77514 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(3, 159, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u77515 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u77515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
