body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u52744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u52744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
}
#u52744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52745 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:630px;
  width:51px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52745 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52745_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52746 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:679px;
  width:6px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52747 label {
  left:0px;
  width:100%;
  height:100%;
}
#u52747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u52747 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u52747_img.selected {
}
#u52747.selected {
}
#u52747_img.disabled {
}
#u52747.disabled {
}
#u52747_img.selected.error {
}
#u52747.selected.error {
}
#u52747_img.selected.hint {
}
#u52747.selected.hint {
}
#u52747_img.selected.error.hint {
}
#u52747.selected.error.hint {
}
#u52747_img.mouseOver.selected {
}
#u52747.mouseOver.selected {
}
#u52747_img.mouseOver.selected.error {
}
#u52747.mouseOver.selected.error {
}
#u52747_img.mouseOver.selected.hint {
}
#u52747.mouseOver.selected.hint {
}
#u52747_img.mouseOver.selected.error.hint {
}
#u52747.mouseOver.selected.error.hint {
}
#u52747_img.mouseDown.selected {
}
#u52747.mouseDown.selected {
}
#u52747_img.mouseDown.selected.error {
}
#u52747.mouseDown.selected.error {
}
#u52747_img.mouseDown.selected.hint {
}
#u52747.mouseDown.selected.hint {
}
#u52747_img.mouseDown.selected.error.hint {
}
#u52747.mouseDown.selected.error.hint {
}
#u52747_img.mouseOver.mouseDown.selected {
}
#u52747.mouseOver.mouseDown.selected {
}
#u52747_img.mouseOver.mouseDown.selected.error {
}
#u52747.mouseOver.mouseDown.selected.error {
}
#u52747_img.mouseOver.mouseDown.selected.hint {
}
#u52747.mouseOver.mouseDown.selected.hint {
}
#u52747_img.mouseOver.mouseDown.selected.error.hint {
}
#u52747.mouseOver.mouseDown.selected.error.hint {
}
#u52747_img.focused.selected {
}
#u52747.focused.selected {
}
#u52747_img.focused.selected.error {
}
#u52747.focused.selected.error {
}
#u52747_img.focused.selected.hint {
}
#u52747.focused.selected.hint {
}
#u52747_img.focused.selected.error.hint {
}
#u52747.focused.selected.error.hint {
}
#u52747_img.selected.disabled {
}
#u52747.selected.disabled {
}
#u52747_img.selected.hint.disabled {
}
#u52747.selected.hint.disabled {
}
#u52747_img.selected.error.disabled {
}
#u52747.selected.error.disabled {
}
#u52747_img.selected.error.hint.disabled {
}
#u52747.selected.error.hint.disabled {
}
#u52747_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u52747_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u52748 label {
  left:0px;
  width:100%;
  height:100%;
}
#u52748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u52748 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u52748_img.selected {
}
#u52748.selected {
}
#u52748_img.disabled {
}
#u52748.disabled {
}
#u52748_img.selected.error {
}
#u52748.selected.error {
}
#u52748_img.selected.hint {
}
#u52748.selected.hint {
}
#u52748_img.selected.error.hint {
}
#u52748.selected.error.hint {
}
#u52748_img.mouseOver.selected {
}
#u52748.mouseOver.selected {
}
#u52748_img.mouseOver.selected.error {
}
#u52748.mouseOver.selected.error {
}
#u52748_img.mouseOver.selected.hint {
}
#u52748.mouseOver.selected.hint {
}
#u52748_img.mouseOver.selected.error.hint {
}
#u52748.mouseOver.selected.error.hint {
}
#u52748_img.mouseDown.selected {
}
#u52748.mouseDown.selected {
}
#u52748_img.mouseDown.selected.error {
}
#u52748.mouseDown.selected.error {
}
#u52748_img.mouseDown.selected.hint {
}
#u52748.mouseDown.selected.hint {
}
#u52748_img.mouseDown.selected.error.hint {
}
#u52748.mouseDown.selected.error.hint {
}
#u52748_img.mouseOver.mouseDown.selected {
}
#u52748.mouseOver.mouseDown.selected {
}
#u52748_img.mouseOver.mouseDown.selected.error {
}
#u52748.mouseOver.mouseDown.selected.error {
}
#u52748_img.mouseOver.mouseDown.selected.hint {
}
#u52748.mouseOver.mouseDown.selected.hint {
}
#u52748_img.mouseOver.mouseDown.selected.error.hint {
}
#u52748.mouseOver.mouseDown.selected.error.hint {
}
#u52748_img.focused.selected {
}
#u52748.focused.selected {
}
#u52748_img.focused.selected.error {
}
#u52748.focused.selected.error {
}
#u52748_img.focused.selected.hint {
}
#u52748.focused.selected.hint {
}
#u52748_img.focused.selected.error.hint {
}
#u52748.focused.selected.error.hint {
}
#u52748_img.selected.disabled {
}
#u52748.selected.disabled {
}
#u52748_img.selected.hint.disabled {
}
#u52748.selected.hint.disabled {
}
#u52748_img.selected.error.disabled {
}
#u52748.selected.error.disabled {
}
#u52748_img.selected.error.hint.disabled {
}
#u52748.selected.error.hint.disabled {
}
#u52748_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u52748_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u52749 label {
  left:0px;
  width:100%;
  height:100%;
}
#u52749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u52749 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u52749_img.selected {
}
#u52749.selected {
}
#u52749_img.disabled {
}
#u52749.disabled {
}
#u52749_img.selected.error {
}
#u52749.selected.error {
}
#u52749_img.selected.hint {
}
#u52749.selected.hint {
}
#u52749_img.selected.error.hint {
}
#u52749.selected.error.hint {
}
#u52749_img.mouseOver.selected {
}
#u52749.mouseOver.selected {
}
#u52749_img.mouseOver.selected.error {
}
#u52749.mouseOver.selected.error {
}
#u52749_img.mouseOver.selected.hint {
}
#u52749.mouseOver.selected.hint {
}
#u52749_img.mouseOver.selected.error.hint {
}
#u52749.mouseOver.selected.error.hint {
}
#u52749_img.mouseDown.selected {
}
#u52749.mouseDown.selected {
}
#u52749_img.mouseDown.selected.error {
}
#u52749.mouseDown.selected.error {
}
#u52749_img.mouseDown.selected.hint {
}
#u52749.mouseDown.selected.hint {
}
#u52749_img.mouseDown.selected.error.hint {
}
#u52749.mouseDown.selected.error.hint {
}
#u52749_img.mouseOver.mouseDown.selected {
}
#u52749.mouseOver.mouseDown.selected {
}
#u52749_img.mouseOver.mouseDown.selected.error {
}
#u52749.mouseOver.mouseDown.selected.error {
}
#u52749_img.mouseOver.mouseDown.selected.hint {
}
#u52749.mouseOver.mouseDown.selected.hint {
}
#u52749_img.mouseOver.mouseDown.selected.error.hint {
}
#u52749.mouseOver.mouseDown.selected.error.hint {
}
#u52749_img.focused.selected {
}
#u52749.focused.selected {
}
#u52749_img.focused.selected.error {
}
#u52749.focused.selected.error {
}
#u52749_img.focused.selected.hint {
}
#u52749.focused.selected.hint {
}
#u52749_img.focused.selected.error.hint {
}
#u52749.focused.selected.error.hint {
}
#u52749_img.selected.disabled {
}
#u52749.selected.disabled {
}
#u52749_img.selected.hint.disabled {
}
#u52749.selected.hint.disabled {
}
#u52749_img.selected.error.disabled {
}
#u52749.selected.error.disabled {
}
#u52749_img.selected.error.hint.disabled {
}
#u52749.selected.error.hint.disabled {
}
#u52749_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u52749_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u52750 label {
  left:0px;
  width:100%;
  height:100%;
}
#u52750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u52750 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:630px;
  width:45px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u52750_img.selected {
}
#u52750.selected {
}
#u52750_img.disabled {
}
#u52750.disabled {
}
#u52750_img.selected.error {
}
#u52750.selected.error {
}
#u52750_img.selected.hint {
}
#u52750.selected.hint {
}
#u52750_img.selected.error.hint {
}
#u52750.selected.error.hint {
}
#u52750_img.mouseOver.selected {
}
#u52750.mouseOver.selected {
}
#u52750_img.mouseOver.selected.error {
}
#u52750.mouseOver.selected.error {
}
#u52750_img.mouseOver.selected.hint {
}
#u52750.mouseOver.selected.hint {
}
#u52750_img.mouseOver.selected.error.hint {
}
#u52750.mouseOver.selected.error.hint {
}
#u52750_img.mouseDown.selected {
}
#u52750.mouseDown.selected {
}
#u52750_img.mouseDown.selected.error {
}
#u52750.mouseDown.selected.error {
}
#u52750_img.mouseDown.selected.hint {
}
#u52750.mouseDown.selected.hint {
}
#u52750_img.mouseDown.selected.error.hint {
}
#u52750.mouseDown.selected.error.hint {
}
#u52750_img.mouseOver.mouseDown.selected {
}
#u52750.mouseOver.mouseDown.selected {
}
#u52750_img.mouseOver.mouseDown.selected.error {
}
#u52750.mouseOver.mouseDown.selected.error {
}
#u52750_img.mouseOver.mouseDown.selected.hint {
}
#u52750.mouseOver.mouseDown.selected.hint {
}
#u52750_img.mouseOver.mouseDown.selected.error.hint {
}
#u52750.mouseOver.mouseDown.selected.error.hint {
}
#u52750_img.focused.selected {
}
#u52750.focused.selected {
}
#u52750_img.focused.selected.error {
}
#u52750.focused.selected.error {
}
#u52750_img.focused.selected.hint {
}
#u52750.focused.selected.hint {
}
#u52750_img.focused.selected.error.hint {
}
#u52750.focused.selected.error.hint {
}
#u52750_img.selected.disabled {
}
#u52750.selected.disabled {
}
#u52750_img.selected.hint.disabled {
}
#u52750.selected.hint.disabled {
}
#u52750_img.selected.error.disabled {
}
#u52750.selected.error.disabled {
}
#u52750_img.selected.error.hint.disabled {
}
#u52750.selected.error.hint.disabled {
}
#u52750_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:32px;
  white-space:nowrap;
  text-transform:none;
}
#u52750_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u52751 label {
  left:0px;
  width:100%;
  height:100%;
}
#u52751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u52751 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u52751_img.selected {
}
#u52751.selected {
}
#u52751_img.disabled {
}
#u52751.disabled {
}
#u52751_img.selected.error {
}
#u52751.selected.error {
}
#u52751_img.selected.hint {
}
#u52751.selected.hint {
}
#u52751_img.selected.error.hint {
}
#u52751.selected.error.hint {
}
#u52751_img.mouseOver.selected {
}
#u52751.mouseOver.selected {
}
#u52751_img.mouseOver.selected.error {
}
#u52751.mouseOver.selected.error {
}
#u52751_img.mouseOver.selected.hint {
}
#u52751.mouseOver.selected.hint {
}
#u52751_img.mouseOver.selected.error.hint {
}
#u52751.mouseOver.selected.error.hint {
}
#u52751_img.mouseDown.selected {
}
#u52751.mouseDown.selected {
}
#u52751_img.mouseDown.selected.error {
}
#u52751.mouseDown.selected.error {
}
#u52751_img.mouseDown.selected.hint {
}
#u52751.mouseDown.selected.hint {
}
#u52751_img.mouseDown.selected.error.hint {
}
#u52751.mouseDown.selected.error.hint {
}
#u52751_img.mouseOver.mouseDown.selected {
}
#u52751.mouseOver.mouseDown.selected {
}
#u52751_img.mouseOver.mouseDown.selected.error {
}
#u52751.mouseOver.mouseDown.selected.error {
}
#u52751_img.mouseOver.mouseDown.selected.hint {
}
#u52751.mouseOver.mouseDown.selected.hint {
}
#u52751_img.mouseOver.mouseDown.selected.error.hint {
}
#u52751.mouseOver.mouseDown.selected.error.hint {
}
#u52751_img.focused.selected {
}
#u52751.focused.selected {
}
#u52751_img.focused.selected.error {
}
#u52751.focused.selected.error {
}
#u52751_img.focused.selected.hint {
}
#u52751.focused.selected.hint {
}
#u52751_img.focused.selected.error.hint {
}
#u52751.focused.selected.error.hint {
}
#u52751_img.selected.disabled {
}
#u52751.selected.disabled {
}
#u52751_img.selected.hint.disabled {
}
#u52751.selected.hint.disabled {
}
#u52751_img.selected.error.disabled {
}
#u52751.selected.error.disabled {
}
#u52751_img.selected.error.hint.disabled {
}
#u52751.selected.error.hint.disabled {
}
#u52751_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u52751_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u52752 label {
  left:0px;
  width:100%;
  height:100%;
}
#u52752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u52752 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:630px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u52752_img.selected {
}
#u52752.selected {
}
#u52752_img.disabled {
}
#u52752.disabled {
}
#u52752_img.selected.error {
}
#u52752.selected.error {
}
#u52752_img.selected.hint {
}
#u52752.selected.hint {
}
#u52752_img.selected.error.hint {
}
#u52752.selected.error.hint {
}
#u52752_img.mouseOver.selected {
}
#u52752.mouseOver.selected {
}
#u52752_img.mouseOver.selected.error {
}
#u52752.mouseOver.selected.error {
}
#u52752_img.mouseOver.selected.hint {
}
#u52752.mouseOver.selected.hint {
}
#u52752_img.mouseOver.selected.error.hint {
}
#u52752.mouseOver.selected.error.hint {
}
#u52752_img.mouseDown.selected {
}
#u52752.mouseDown.selected {
}
#u52752_img.mouseDown.selected.error {
}
#u52752.mouseDown.selected.error {
}
#u52752_img.mouseDown.selected.hint {
}
#u52752.mouseDown.selected.hint {
}
#u52752_img.mouseDown.selected.error.hint {
}
#u52752.mouseDown.selected.error.hint {
}
#u52752_img.mouseOver.mouseDown.selected {
}
#u52752.mouseOver.mouseDown.selected {
}
#u52752_img.mouseOver.mouseDown.selected.error {
}
#u52752.mouseOver.mouseDown.selected.error {
}
#u52752_img.mouseOver.mouseDown.selected.hint {
}
#u52752.mouseOver.mouseDown.selected.hint {
}
#u52752_img.mouseOver.mouseDown.selected.error.hint {
}
#u52752.mouseOver.mouseDown.selected.error.hint {
}
#u52752_img.focused.selected {
}
#u52752.focused.selected {
}
#u52752_img.focused.selected.error {
}
#u52752.focused.selected.error {
}
#u52752_img.focused.selected.hint {
}
#u52752.focused.selected.hint {
}
#u52752_img.focused.selected.error.hint {
}
#u52752.focused.selected.error.hint {
}
#u52752_img.selected.disabled {
}
#u52752.selected.disabled {
}
#u52752_img.selected.hint.disabled {
}
#u52752.selected.hint.disabled {
}
#u52752_img.selected.error.disabled {
}
#u52752.selected.error.disabled {
}
#u52752_img.selected.error.hint.disabled {
}
#u52752.selected.error.hint.disabled {
}
#u52752_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:38px;
  white-space:nowrap;
  text-transform:none;
}
#u52752_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u52753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:1200px;
  height:542px;
  display:flex;
  transition:none;
}
#u52753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:542px;
}
#u52753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u52755 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:989px;
  width:745px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u52755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u52756 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u52756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52756_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52757 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:995px;
  width:66px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52757_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52758 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52758_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52759 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:995px;
  width:33px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52760 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52761 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:995px;
  width:52px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52761_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52762 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:995px;
  width:38px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52762_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52763 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52764 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1011px;
  width:52px;
  height:1px;
  display:flex;
  transition:none;
}
#u52764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u52764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52765 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52766 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u52767 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1021px;
  width:62px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u52767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u52768 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1309px;
  width:70px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u52768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52768_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52769 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1057px;
  width:65px;
  height:137px;
  display:flex;
  transition:none;
}
#u52769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52769_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:147px;
}
#u52769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52770 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1067px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52771 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1085px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52772 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1103px;
  width:46px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52773 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1121px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52774 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1139px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52775 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1157px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52776 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1175px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u52776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u52778 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1021px;
  width:490px;
  height:424px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u52778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u52779 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1045px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u52779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u52780 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1127px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u52780 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52781_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52781_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u52781 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1121px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u52781 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52781_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u52781.disabled {
}
.u52781_input_option {
}
#u52782_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52782_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u52782 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1171px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u52782 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52782_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u52782.disabled {
}
.u52782_input_option {
}
#u52783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u52783 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1227px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u52783 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52784_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52784_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52784_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52784_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52784 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1221px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52784_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52784.hint {
}
#u52784_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52784.disabled {
}
#u52784_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52784.hint.disabled {
}
#u52785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u52785 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1177px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u52785 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52785_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u52786 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1279px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u52786 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52787_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52787_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52787_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52787_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u52787 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1273px;
  width:83px;
  height:78px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u52787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52787_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u52787.hint {
}
#u52787_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u52787.disabled {
}
#u52787_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u52787.hint.disabled {
}
#u52788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u52788 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1081px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u52788 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u52789 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1081px;
  width:104px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u52789 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u52790 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1081px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u52790 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52791 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u52791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(3, 159, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52792 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u52792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
