body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u45453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:889px;
  display:flex;
  transition:none;
}
#u45453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:889px;
}
#u45453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45454 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:581px;
  width:327px;
  height:22px;
  display:flex;
  transition:none;
}
#u45454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:22px;
}
#u45454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#D9001B;
}
#u45455 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:534px;
  width:81px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#D9001B;
}
#u45455 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45455_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45456 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:605px;
  width:320px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45457 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:620px;
  width:328px;
  height:176px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45458 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:609px;
  width:49px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45458 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45458_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45460 {
  position:absolute;
  left:590px;
  top:608px;
}
#u45460_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45460_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 0.25098039215686274);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45461 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:20px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45462 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45462_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45460_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45460_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(189, 193, 197, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 193, 197, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45463 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:21px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45464_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45465 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:609px;
  width:49px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45465_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45467 {
  position:absolute;
  left:692px;
  top:608px;
}
#u45467_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45467_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 0.25098039215686274);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45468 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:20px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45469 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45469_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45467_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45467_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(189, 193, 197, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 193, 197, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45470 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:21px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45471_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45472 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:609px;
  width:49px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45472_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45474 {
  position:absolute;
  left:811px;
  top:608px;
}
#u45474_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45474_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 0.25098039215686274);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45475 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:20px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45476 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45476_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45474_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45474_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(189, 193, 197, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 193, 197, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45477 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:21px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45478_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45479 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:630px;
  width:57px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45481 {
  position:absolute;
  left:590px;
  top:628px;
}
#u45481_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45481_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 0.25098039215686274);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45482 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:20px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45483 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45483_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45481_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45481_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(189, 193, 197, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 193, 197, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45484 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:21px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45485_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45486 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:630px;
  width:57px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45488 {
  position:absolute;
  left:692px;
  top:628px;
}
#u45488_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45488_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 0.25098039215686274);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45489 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:20px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45490 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45490_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45488_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45488_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(189, 193, 197, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 193, 197, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45491 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:21px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45492_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45493 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:630px;
  width:36px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45493_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45495 {
  position:absolute;
  left:811px;
  top:628px;
}
#u45495_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45495_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 0.25098039215686274);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45496 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:20px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45497 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45497_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45495_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45495_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(189, 193, 197, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 193, 197, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45498 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:21px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45499_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45500 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:649px;
  width:65px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45500 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45502 {
  position:absolute;
  left:589px;
  top:647px;
}
#u45502_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45502_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(30, 152, 215, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 0.25098039215686274);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45503 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:20px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45504 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45504_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45502_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u45502_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(189, 193, 197, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 193, 197, 1);
  border-radius:7px;
  filter:drop-shadow(none);
  transition:none;
}
#u45505 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:21px;
  height:8px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u45506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45506_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:18px;
  height:18px;
}
#u45506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45507_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45507_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45507_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45507 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:667px;
  width:84px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45507_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45507.hint {
}
#u45507_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45507.disabled {
}
#u45507_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45507.hint.disabled {
}
#u45508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45508 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:671px;
  width:57px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45509_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45509_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45509_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45509 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:667px;
  width:84px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45509_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45509.hint {
}
#u45509_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45509.disabled {
}
#u45509_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45509.hint.disabled {
}
#u45510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45510 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:671px;
  width:49px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45511_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45511_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45511_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45511 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:693px;
  width:253px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45511_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45511.hint {
}
#u45511_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45511.disabled {
}
#u45511_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45511.hint.disabled {
}
#u45512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45512 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:697px;
  width:33px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45513_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45513_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45513_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45513 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:719px;
  width:253px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45513_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45513.hint {
}
#u45513_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45513.disabled {
}
#u45513_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45513.hint.disabled {
}
#u45514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45514 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:723px;
  width:33px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45515_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45515_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45515_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45515_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45515 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:745px;
  width:253px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45515_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45515.hint {
}
#u45515_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45515.disabled {
}
#u45515_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45515.hint.disabled {
}
#u45516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45516 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:749px;
  width:33px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45517_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45517_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45517_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45517_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u45517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45517 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:771px;
  width:253px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45517_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45517.hint {
}
#u45517_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45517.disabled {
}
#u45517_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u45517.hint.disabled {
}
#u45518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45518 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:775px;
  width:33px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u45518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
