.ax_default {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._形状 {
}
._图片 {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:13px;
  text-align:left;
}
._段落 {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
._流程图形状 {
}
.table_cell {
}
._线段 {
}
._连接线 {
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._表单提示文本 {
  color:#999999;
}
._表单禁用 {
}
._形状1 {
}
.box_1 {
}
.icon {
}
.paragraph {
  text-align:left;
}
.shape {
}
.box_2 {
}
.box_3 {
}
.box_21 {
}
.ellipse {
}
.form_disabled1 {
}
._图片_ {
}
.shape1 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.form_hint1 {
  color:#999999;
}
.primary_button1 {
  color:#FFFFFF;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.table_cell1 {
}
.heading_3 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.image {
}
.flow_shape {
}
.refs-design-apple {
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
textarea, select, input, button, div, svg { outline: none; }
