body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1370px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:830px;
  width:989px;
  height:540px;
  display:flex;
  transition:none;
}
#u2613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:540px;
}
#u2613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:830px;
  width:360px;
  height:540px;
  display:flex;
  transition:none;
}
#u2614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:540px;
}
#u2614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
