body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u31868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:234px;
  display:flex;
  transition:none;
}
#u31869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:234px;
}
#u31869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:360px;
  height:490px;
}
#u31870_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:490px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31870_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31871 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31872 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:130px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31873 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:7px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31874 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:130px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31874_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31875 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:177px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31876 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:300px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31877 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:177px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31878 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:300px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31879 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:347px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31880 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:470px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31881 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:347px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31882 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:470px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31882 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31882_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31883 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:517px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31884 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:640px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31885 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:517px;
  width:160px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.2980392156862745);
}
#u31885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31886 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:640px;
  width:66px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31887 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:677px;
  width:100px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31889 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:75px;
  width:31px;
  height:36px;
  display:flex;
  transition:none;
}
#u31889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u31889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31890 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:63px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u31890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u31890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31892 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:245px;
  width:31px;
  height:36px;
  display:flex;
  transition:none;
}
#u31892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u31892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31893 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:233px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u31893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u31893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31895 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:415px;
  width:31px;
  height:36px;
  display:flex;
  transition:none;
}
#u31895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u31895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31896 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:403px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u31896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u31896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31898 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:585px;
  width:31px;
  height:36px;
  display:flex;
  transition:none;
}
#u31898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u31898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31899 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:573px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u31899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u31899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31902 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u31902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u31902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31903 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u31903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u31903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31904 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:17px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31905 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:17px;
  width:40px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31905_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31906 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:17px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31906 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31906_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31907 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:17px;
  width:27px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:360px;
  height:56px;
  display:flex;
  transition:none;
}
#u31908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31908_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:370px;
  height:66px;
}
#u31908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31910 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:596px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  color:#8400FF;
}
#u31910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u31910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#8400FF;
  text-align:center;
}
#u31911 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:616px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#8400FF;
  text-align:center;
}
#u31911 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31913 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:596px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u31913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u31913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u31914 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:616px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u31914 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31916 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:596px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u31916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u31916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u31917 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:616px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u31917 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31919 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:596px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u31919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u31919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u31920 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:616px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
}
#u31920 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31921 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:17px;
  width:44px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8400FF;
}
#u31921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:2px;
  background:inherit;
  background-color:rgba(132, 0, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u31922 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:42px;
  width:30px;
  height:2px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
  display:flex;
  transition:none;
}
#u31923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u31923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:50px;
  color:rgba(51, 51, 51, 0.09803921568627451);
}
#u31924 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:57px;
  width:330px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:50px;
  color:rgba(51, 51, 51, 0.09803921568627451);
}
#u31924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
