body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:748px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u67265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
  display:flex;
  transition:none;
}
#u67265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
}
#u67265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67266 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:0px;
  width:360px;
  height:278px;
  display:flex;
  transition:none;
}
#u67266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:278px;
}
#u67266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67267 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:78px;
  width:360px;
  height:354px;
  display:flex;
  transition:none;
}
#u67267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:354px;
}
#u67267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67268 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:632px;
  width:360px;
  height:168px;
  display:flex;
  transition:none;
}
#u67268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:168px;
}
#u67268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u67269 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:432px;
  width:360px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u67269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
