body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:748px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u67206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
  display:flex;
  transition:none;
}
#u67206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
}
#u67206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67207 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:0px;
  width:360px;
  height:278px;
  display:flex;
  transition:none;
}
#u67207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:278px;
}
#u67207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67208 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:78px;
  width:360px;
  height:354px;
  display:flex;
  transition:none;
}
#u67208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:354px;
}
#u67208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67209 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:632px;
  width:360px;
  height:168px;
  display:flex;
  transition:none;
}
#u67209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:168px;
}
#u67209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u67210 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:432px;
  width:360px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u67210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
