body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:748px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u73717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
  display:flex;
  transition:none;
}
#u73717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
}
#u73717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73718 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:0px;
  width:360px;
  height:278px;
  display:flex;
  transition:none;
}
#u73718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:278px;
}
#u73718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73719 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:78px;
  width:360px;
  height:354px;
  display:flex;
  transition:none;
}
#u73719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:354px;
}
#u73719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73720 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:632px;
  width:360px;
  height:168px;
  display:flex;
  transition:none;
}
#u73720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:168px;
}
#u73720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u73721 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:432px;
  width:360px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u73721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
