body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:748px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u52028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
  display:flex;
  transition:none;
}
#u52028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
}
#u52028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52029 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:0px;
  width:360px;
  height:278px;
  display:flex;
  transition:none;
}
#u52029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:278px;
}
#u52029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52030 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:78px;
  width:360px;
  height:354px;
  display:flex;
  transition:none;
}
#u52030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:354px;
}
#u52030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52031 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:632px;
  width:360px;
  height:168px;
  display:flex;
  transition:none;
}
#u52031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:168px;
}
#u52031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u52032 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:432px;
  width:360px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u52032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
