body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:748px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u68090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
  display:flex;
  transition:none;
}
#u68090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
}
#u68090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68091 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:0px;
  width:360px;
  height:278px;
  display:flex;
  transition:none;
}
#u68091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:278px;
}
#u68091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68092 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:78px;
  width:360px;
  height:354px;
  display:flex;
  transition:none;
}
#u68092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:354px;
}
#u68092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68093 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:632px;
  width:360px;
  height:168px;
  display:flex;
  transition:none;
}
#u68093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:168px;
}
#u68093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u68094 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:432px;
  width:360px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u68094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
