body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
}
#u25801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25802 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:630px;
  width:51px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25802 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25803 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:679px;
  width:6px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25804 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25804 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25804_img.selected {
}
#u25804.selected {
}
#u25804_img.disabled {
}
#u25804.disabled {
}
#u25804_img.selected.error {
}
#u25804.selected.error {
}
#u25804_img.selected.hint {
}
#u25804.selected.hint {
}
#u25804_img.selected.error.hint {
}
#u25804.selected.error.hint {
}
#u25804_img.mouseOver.selected {
}
#u25804.mouseOver.selected {
}
#u25804_img.mouseOver.selected.error {
}
#u25804.mouseOver.selected.error {
}
#u25804_img.mouseOver.selected.hint {
}
#u25804.mouseOver.selected.hint {
}
#u25804_img.mouseOver.selected.error.hint {
}
#u25804.mouseOver.selected.error.hint {
}
#u25804_img.mouseDown.selected {
}
#u25804.mouseDown.selected {
}
#u25804_img.mouseDown.selected.error {
}
#u25804.mouseDown.selected.error {
}
#u25804_img.mouseDown.selected.hint {
}
#u25804.mouseDown.selected.hint {
}
#u25804_img.mouseDown.selected.error.hint {
}
#u25804.mouseDown.selected.error.hint {
}
#u25804_img.mouseOver.mouseDown.selected {
}
#u25804.mouseOver.mouseDown.selected {
}
#u25804_img.mouseOver.mouseDown.selected.error {
}
#u25804.mouseOver.mouseDown.selected.error {
}
#u25804_img.mouseOver.mouseDown.selected.hint {
}
#u25804.mouseOver.mouseDown.selected.hint {
}
#u25804_img.mouseOver.mouseDown.selected.error.hint {
}
#u25804.mouseOver.mouseDown.selected.error.hint {
}
#u25804_img.focused.selected {
}
#u25804.focused.selected {
}
#u25804_img.focused.selected.error {
}
#u25804.focused.selected.error {
}
#u25804_img.focused.selected.hint {
}
#u25804.focused.selected.hint {
}
#u25804_img.focused.selected.error.hint {
}
#u25804.focused.selected.error.hint {
}
#u25804_img.selected.disabled {
}
#u25804.selected.disabled {
}
#u25804_img.selected.hint.disabled {
}
#u25804.selected.hint.disabled {
}
#u25804_img.selected.error.disabled {
}
#u25804.selected.error.disabled {
}
#u25804_img.selected.error.hint.disabled {
}
#u25804.selected.error.hint.disabled {
}
#u25804_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u25804_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25805 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25805 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25805_img.selected {
}
#u25805.selected {
}
#u25805_img.disabled {
}
#u25805.disabled {
}
#u25805_img.selected.error {
}
#u25805.selected.error {
}
#u25805_img.selected.hint {
}
#u25805.selected.hint {
}
#u25805_img.selected.error.hint {
}
#u25805.selected.error.hint {
}
#u25805_img.mouseOver.selected {
}
#u25805.mouseOver.selected {
}
#u25805_img.mouseOver.selected.error {
}
#u25805.mouseOver.selected.error {
}
#u25805_img.mouseOver.selected.hint {
}
#u25805.mouseOver.selected.hint {
}
#u25805_img.mouseOver.selected.error.hint {
}
#u25805.mouseOver.selected.error.hint {
}
#u25805_img.mouseDown.selected {
}
#u25805.mouseDown.selected {
}
#u25805_img.mouseDown.selected.error {
}
#u25805.mouseDown.selected.error {
}
#u25805_img.mouseDown.selected.hint {
}
#u25805.mouseDown.selected.hint {
}
#u25805_img.mouseDown.selected.error.hint {
}
#u25805.mouseDown.selected.error.hint {
}
#u25805_img.mouseOver.mouseDown.selected {
}
#u25805.mouseOver.mouseDown.selected {
}
#u25805_img.mouseOver.mouseDown.selected.error {
}
#u25805.mouseOver.mouseDown.selected.error {
}
#u25805_img.mouseOver.mouseDown.selected.hint {
}
#u25805.mouseOver.mouseDown.selected.hint {
}
#u25805_img.mouseOver.mouseDown.selected.error.hint {
}
#u25805.mouseOver.mouseDown.selected.error.hint {
}
#u25805_img.focused.selected {
}
#u25805.focused.selected {
}
#u25805_img.focused.selected.error {
}
#u25805.focused.selected.error {
}
#u25805_img.focused.selected.hint {
}
#u25805.focused.selected.hint {
}
#u25805_img.focused.selected.error.hint {
}
#u25805.focused.selected.error.hint {
}
#u25805_img.selected.disabled {
}
#u25805.selected.disabled {
}
#u25805_img.selected.hint.disabled {
}
#u25805.selected.hint.disabled {
}
#u25805_img.selected.error.disabled {
}
#u25805.selected.error.disabled {
}
#u25805_img.selected.error.hint.disabled {
}
#u25805.selected.error.hint.disabled {
}
#u25805_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u25805_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25806 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25806 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25806_img.selected {
}
#u25806.selected {
}
#u25806_img.disabled {
}
#u25806.disabled {
}
#u25806_img.selected.error {
}
#u25806.selected.error {
}
#u25806_img.selected.hint {
}
#u25806.selected.hint {
}
#u25806_img.selected.error.hint {
}
#u25806.selected.error.hint {
}
#u25806_img.mouseOver.selected {
}
#u25806.mouseOver.selected {
}
#u25806_img.mouseOver.selected.error {
}
#u25806.mouseOver.selected.error {
}
#u25806_img.mouseOver.selected.hint {
}
#u25806.mouseOver.selected.hint {
}
#u25806_img.mouseOver.selected.error.hint {
}
#u25806.mouseOver.selected.error.hint {
}
#u25806_img.mouseDown.selected {
}
#u25806.mouseDown.selected {
}
#u25806_img.mouseDown.selected.error {
}
#u25806.mouseDown.selected.error {
}
#u25806_img.mouseDown.selected.hint {
}
#u25806.mouseDown.selected.hint {
}
#u25806_img.mouseDown.selected.error.hint {
}
#u25806.mouseDown.selected.error.hint {
}
#u25806_img.mouseOver.mouseDown.selected {
}
#u25806.mouseOver.mouseDown.selected {
}
#u25806_img.mouseOver.mouseDown.selected.error {
}
#u25806.mouseOver.mouseDown.selected.error {
}
#u25806_img.mouseOver.mouseDown.selected.hint {
}
#u25806.mouseOver.mouseDown.selected.hint {
}
#u25806_img.mouseOver.mouseDown.selected.error.hint {
}
#u25806.mouseOver.mouseDown.selected.error.hint {
}
#u25806_img.focused.selected {
}
#u25806.focused.selected {
}
#u25806_img.focused.selected.error {
}
#u25806.focused.selected.error {
}
#u25806_img.focused.selected.hint {
}
#u25806.focused.selected.hint {
}
#u25806_img.focused.selected.error.hint {
}
#u25806.focused.selected.error.hint {
}
#u25806_img.selected.disabled {
}
#u25806.selected.disabled {
}
#u25806_img.selected.hint.disabled {
}
#u25806.selected.hint.disabled {
}
#u25806_img.selected.error.disabled {
}
#u25806.selected.error.disabled {
}
#u25806_img.selected.error.hint.disabled {
}
#u25806.selected.error.hint.disabled {
}
#u25806_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u25806_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25807 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25807 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:630px;
  width:45px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25807_img.selected {
}
#u25807.selected {
}
#u25807_img.disabled {
}
#u25807.disabled {
}
#u25807_img.selected.error {
}
#u25807.selected.error {
}
#u25807_img.selected.hint {
}
#u25807.selected.hint {
}
#u25807_img.selected.error.hint {
}
#u25807.selected.error.hint {
}
#u25807_img.mouseOver.selected {
}
#u25807.mouseOver.selected {
}
#u25807_img.mouseOver.selected.error {
}
#u25807.mouseOver.selected.error {
}
#u25807_img.mouseOver.selected.hint {
}
#u25807.mouseOver.selected.hint {
}
#u25807_img.mouseOver.selected.error.hint {
}
#u25807.mouseOver.selected.error.hint {
}
#u25807_img.mouseDown.selected {
}
#u25807.mouseDown.selected {
}
#u25807_img.mouseDown.selected.error {
}
#u25807.mouseDown.selected.error {
}
#u25807_img.mouseDown.selected.hint {
}
#u25807.mouseDown.selected.hint {
}
#u25807_img.mouseDown.selected.error.hint {
}
#u25807.mouseDown.selected.error.hint {
}
#u25807_img.mouseOver.mouseDown.selected {
}
#u25807.mouseOver.mouseDown.selected {
}
#u25807_img.mouseOver.mouseDown.selected.error {
}
#u25807.mouseOver.mouseDown.selected.error {
}
#u25807_img.mouseOver.mouseDown.selected.hint {
}
#u25807.mouseOver.mouseDown.selected.hint {
}
#u25807_img.mouseOver.mouseDown.selected.error.hint {
}
#u25807.mouseOver.mouseDown.selected.error.hint {
}
#u25807_img.focused.selected {
}
#u25807.focused.selected {
}
#u25807_img.focused.selected.error {
}
#u25807.focused.selected.error {
}
#u25807_img.focused.selected.hint {
}
#u25807.focused.selected.hint {
}
#u25807_img.focused.selected.error.hint {
}
#u25807.focused.selected.error.hint {
}
#u25807_img.selected.disabled {
}
#u25807.selected.disabled {
}
#u25807_img.selected.hint.disabled {
}
#u25807.selected.hint.disabled {
}
#u25807_img.selected.error.disabled {
}
#u25807.selected.error.disabled {
}
#u25807_img.selected.error.hint.disabled {
}
#u25807.selected.error.hint.disabled {
}
#u25807_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:32px;
  white-space:nowrap;
  text-transform:none;
}
#u25807_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25808 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25808 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25808_img.selected {
}
#u25808.selected {
}
#u25808_img.disabled {
}
#u25808.disabled {
}
#u25808_img.selected.error {
}
#u25808.selected.error {
}
#u25808_img.selected.hint {
}
#u25808.selected.hint {
}
#u25808_img.selected.error.hint {
}
#u25808.selected.error.hint {
}
#u25808_img.mouseOver.selected {
}
#u25808.mouseOver.selected {
}
#u25808_img.mouseOver.selected.error {
}
#u25808.mouseOver.selected.error {
}
#u25808_img.mouseOver.selected.hint {
}
#u25808.mouseOver.selected.hint {
}
#u25808_img.mouseOver.selected.error.hint {
}
#u25808.mouseOver.selected.error.hint {
}
#u25808_img.mouseDown.selected {
}
#u25808.mouseDown.selected {
}
#u25808_img.mouseDown.selected.error {
}
#u25808.mouseDown.selected.error {
}
#u25808_img.mouseDown.selected.hint {
}
#u25808.mouseDown.selected.hint {
}
#u25808_img.mouseDown.selected.error.hint {
}
#u25808.mouseDown.selected.error.hint {
}
#u25808_img.mouseOver.mouseDown.selected {
}
#u25808.mouseOver.mouseDown.selected {
}
#u25808_img.mouseOver.mouseDown.selected.error {
}
#u25808.mouseOver.mouseDown.selected.error {
}
#u25808_img.mouseOver.mouseDown.selected.hint {
}
#u25808.mouseOver.mouseDown.selected.hint {
}
#u25808_img.mouseOver.mouseDown.selected.error.hint {
}
#u25808.mouseOver.mouseDown.selected.error.hint {
}
#u25808_img.focused.selected {
}
#u25808.focused.selected {
}
#u25808_img.focused.selected.error {
}
#u25808.focused.selected.error {
}
#u25808_img.focused.selected.hint {
}
#u25808.focused.selected.hint {
}
#u25808_img.focused.selected.error.hint {
}
#u25808.focused.selected.error.hint {
}
#u25808_img.selected.disabled {
}
#u25808.selected.disabled {
}
#u25808_img.selected.hint.disabled {
}
#u25808.selected.hint.disabled {
}
#u25808_img.selected.error.disabled {
}
#u25808.selected.error.disabled {
}
#u25808_img.selected.error.hint.disabled {
}
#u25808.selected.error.hint.disabled {
}
#u25808_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u25808_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25809 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25809 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:630px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25809_img.selected {
}
#u25809.selected {
}
#u25809_img.disabled {
}
#u25809.disabled {
}
#u25809_img.selected.error {
}
#u25809.selected.error {
}
#u25809_img.selected.hint {
}
#u25809.selected.hint {
}
#u25809_img.selected.error.hint {
}
#u25809.selected.error.hint {
}
#u25809_img.mouseOver.selected {
}
#u25809.mouseOver.selected {
}
#u25809_img.mouseOver.selected.error {
}
#u25809.mouseOver.selected.error {
}
#u25809_img.mouseOver.selected.hint {
}
#u25809.mouseOver.selected.hint {
}
#u25809_img.mouseOver.selected.error.hint {
}
#u25809.mouseOver.selected.error.hint {
}
#u25809_img.mouseDown.selected {
}
#u25809.mouseDown.selected {
}
#u25809_img.mouseDown.selected.error {
}
#u25809.mouseDown.selected.error {
}
#u25809_img.mouseDown.selected.hint {
}
#u25809.mouseDown.selected.hint {
}
#u25809_img.mouseDown.selected.error.hint {
}
#u25809.mouseDown.selected.error.hint {
}
#u25809_img.mouseOver.mouseDown.selected {
}
#u25809.mouseOver.mouseDown.selected {
}
#u25809_img.mouseOver.mouseDown.selected.error {
}
#u25809.mouseOver.mouseDown.selected.error {
}
#u25809_img.mouseOver.mouseDown.selected.hint {
}
#u25809.mouseOver.mouseDown.selected.hint {
}
#u25809_img.mouseOver.mouseDown.selected.error.hint {
}
#u25809.mouseOver.mouseDown.selected.error.hint {
}
#u25809_img.focused.selected {
}
#u25809.focused.selected {
}
#u25809_img.focused.selected.error {
}
#u25809.focused.selected.error {
}
#u25809_img.focused.selected.hint {
}
#u25809.focused.selected.hint {
}
#u25809_img.focused.selected.error.hint {
}
#u25809.focused.selected.error.hint {
}
#u25809_img.selected.disabled {
}
#u25809.selected.disabled {
}
#u25809_img.selected.hint.disabled {
}
#u25809.selected.hint.disabled {
}
#u25809_img.selected.error.disabled {
}
#u25809.selected.error.disabled {
}
#u25809_img.selected.error.hint.disabled {
}
#u25809.selected.error.hint.disabled {
}
#u25809_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:38px;
  white-space:nowrap;
  text-transform:none;
}
#u25809_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:1200px;
  height:542px;
  display:flex;
  transition:none;
}
#u25810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:542px;
}
#u25810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u25812 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:989px;
  width:745px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u25813 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u25813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25814 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:995px;
  width:66px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25815 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25816 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:995px;
  width:33px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25817 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25817_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25818 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:995px;
  width:52px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25819 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:995px;
  width:38px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25820 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25821 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1011px;
  width:52px;
  height:1px;
  display:flex;
  transition:none;
}
#u25821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u25821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25822 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25822_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25823 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25824 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1021px;
  width:62px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25825 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1309px;
  width:70px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25826 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1057px;
  width:65px;
  height:137px;
  display:flex;
  transition:none;
}
#u25826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25826_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:147px;
}
#u25826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25827 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1067px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25828 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1085px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25829 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1103px;
  width:46px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25830 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1121px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25831 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1139px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25832 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1157px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25833 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1175px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u25835 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1021px;
  width:490px;
  height:424px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u25836 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1045px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u25836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25837 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1127px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25837 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25838_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25838 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1121px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25838 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25838_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25838.disabled {
}
.u25838_input_option {
}
#u25839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25839_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25839 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1171px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25839 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25839_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25839.disabled {
}
.u25839_input_option {
}
#u25840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25840 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1227px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25840 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25841_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25841_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25841_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25841 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1221px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25841_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25841.hint {
}
#u25841_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25841.disabled {
}
#u25841_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25841.hint.disabled {
}
#u25842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25842 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1177px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25843 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1279px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25843 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25844_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25844_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25844_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25844 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1273px;
  width:83px;
  height:78px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25844_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25844.hint {
}
#u25844_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25844.disabled {
}
#u25844_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25844.hint.disabled {
}
#u25845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25845 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1081px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25845 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25846 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1081px;
  width:104px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25846 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25847 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1081px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25847 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25848 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(3, 159, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25849 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
