body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
}
#u25924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25925 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:630px;
  width:51px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25925 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25926 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:679px;
  width:6px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25927 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25927 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25927_img.selected {
}
#u25927.selected {
}
#u25927_img.disabled {
}
#u25927.disabled {
}
#u25927_img.selected.error {
}
#u25927.selected.error {
}
#u25927_img.selected.hint {
}
#u25927.selected.hint {
}
#u25927_img.selected.error.hint {
}
#u25927.selected.error.hint {
}
#u25927_img.mouseOver.selected {
}
#u25927.mouseOver.selected {
}
#u25927_img.mouseOver.selected.error {
}
#u25927.mouseOver.selected.error {
}
#u25927_img.mouseOver.selected.hint {
}
#u25927.mouseOver.selected.hint {
}
#u25927_img.mouseOver.selected.error.hint {
}
#u25927.mouseOver.selected.error.hint {
}
#u25927_img.mouseDown.selected {
}
#u25927.mouseDown.selected {
}
#u25927_img.mouseDown.selected.error {
}
#u25927.mouseDown.selected.error {
}
#u25927_img.mouseDown.selected.hint {
}
#u25927.mouseDown.selected.hint {
}
#u25927_img.mouseDown.selected.error.hint {
}
#u25927.mouseDown.selected.error.hint {
}
#u25927_img.mouseOver.mouseDown.selected {
}
#u25927.mouseOver.mouseDown.selected {
}
#u25927_img.mouseOver.mouseDown.selected.error {
}
#u25927.mouseOver.mouseDown.selected.error {
}
#u25927_img.mouseOver.mouseDown.selected.hint {
}
#u25927.mouseOver.mouseDown.selected.hint {
}
#u25927_img.mouseOver.mouseDown.selected.error.hint {
}
#u25927.mouseOver.mouseDown.selected.error.hint {
}
#u25927_img.focused.selected {
}
#u25927.focused.selected {
}
#u25927_img.focused.selected.error {
}
#u25927.focused.selected.error {
}
#u25927_img.focused.selected.hint {
}
#u25927.focused.selected.hint {
}
#u25927_img.focused.selected.error.hint {
}
#u25927.focused.selected.error.hint {
}
#u25927_img.selected.disabled {
}
#u25927.selected.disabled {
}
#u25927_img.selected.hint.disabled {
}
#u25927.selected.hint.disabled {
}
#u25927_img.selected.error.disabled {
}
#u25927.selected.error.disabled {
}
#u25927_img.selected.error.hint.disabled {
}
#u25927.selected.error.hint.disabled {
}
#u25927_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u25927_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25928 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25928 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25928_img.selected {
}
#u25928.selected {
}
#u25928_img.disabled {
}
#u25928.disabled {
}
#u25928_img.selected.error {
}
#u25928.selected.error {
}
#u25928_img.selected.hint {
}
#u25928.selected.hint {
}
#u25928_img.selected.error.hint {
}
#u25928.selected.error.hint {
}
#u25928_img.mouseOver.selected {
}
#u25928.mouseOver.selected {
}
#u25928_img.mouseOver.selected.error {
}
#u25928.mouseOver.selected.error {
}
#u25928_img.mouseOver.selected.hint {
}
#u25928.mouseOver.selected.hint {
}
#u25928_img.mouseOver.selected.error.hint {
}
#u25928.mouseOver.selected.error.hint {
}
#u25928_img.mouseDown.selected {
}
#u25928.mouseDown.selected {
}
#u25928_img.mouseDown.selected.error {
}
#u25928.mouseDown.selected.error {
}
#u25928_img.mouseDown.selected.hint {
}
#u25928.mouseDown.selected.hint {
}
#u25928_img.mouseDown.selected.error.hint {
}
#u25928.mouseDown.selected.error.hint {
}
#u25928_img.mouseOver.mouseDown.selected {
}
#u25928.mouseOver.mouseDown.selected {
}
#u25928_img.mouseOver.mouseDown.selected.error {
}
#u25928.mouseOver.mouseDown.selected.error {
}
#u25928_img.mouseOver.mouseDown.selected.hint {
}
#u25928.mouseOver.mouseDown.selected.hint {
}
#u25928_img.mouseOver.mouseDown.selected.error.hint {
}
#u25928.mouseOver.mouseDown.selected.error.hint {
}
#u25928_img.focused.selected {
}
#u25928.focused.selected {
}
#u25928_img.focused.selected.error {
}
#u25928.focused.selected.error {
}
#u25928_img.focused.selected.hint {
}
#u25928.focused.selected.hint {
}
#u25928_img.focused.selected.error.hint {
}
#u25928.focused.selected.error.hint {
}
#u25928_img.selected.disabled {
}
#u25928.selected.disabled {
}
#u25928_img.selected.hint.disabled {
}
#u25928.selected.hint.disabled {
}
#u25928_img.selected.error.disabled {
}
#u25928.selected.error.disabled {
}
#u25928_img.selected.error.hint.disabled {
}
#u25928.selected.error.hint.disabled {
}
#u25928_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u25928_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25929 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25929 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25929_img.selected {
}
#u25929.selected {
}
#u25929_img.disabled {
}
#u25929.disabled {
}
#u25929_img.selected.error {
}
#u25929.selected.error {
}
#u25929_img.selected.hint {
}
#u25929.selected.hint {
}
#u25929_img.selected.error.hint {
}
#u25929.selected.error.hint {
}
#u25929_img.mouseOver.selected {
}
#u25929.mouseOver.selected {
}
#u25929_img.mouseOver.selected.error {
}
#u25929.mouseOver.selected.error {
}
#u25929_img.mouseOver.selected.hint {
}
#u25929.mouseOver.selected.hint {
}
#u25929_img.mouseOver.selected.error.hint {
}
#u25929.mouseOver.selected.error.hint {
}
#u25929_img.mouseDown.selected {
}
#u25929.mouseDown.selected {
}
#u25929_img.mouseDown.selected.error {
}
#u25929.mouseDown.selected.error {
}
#u25929_img.mouseDown.selected.hint {
}
#u25929.mouseDown.selected.hint {
}
#u25929_img.mouseDown.selected.error.hint {
}
#u25929.mouseDown.selected.error.hint {
}
#u25929_img.mouseOver.mouseDown.selected {
}
#u25929.mouseOver.mouseDown.selected {
}
#u25929_img.mouseOver.mouseDown.selected.error {
}
#u25929.mouseOver.mouseDown.selected.error {
}
#u25929_img.mouseOver.mouseDown.selected.hint {
}
#u25929.mouseOver.mouseDown.selected.hint {
}
#u25929_img.mouseOver.mouseDown.selected.error.hint {
}
#u25929.mouseOver.mouseDown.selected.error.hint {
}
#u25929_img.focused.selected {
}
#u25929.focused.selected {
}
#u25929_img.focused.selected.error {
}
#u25929.focused.selected.error {
}
#u25929_img.focused.selected.hint {
}
#u25929.focused.selected.hint {
}
#u25929_img.focused.selected.error.hint {
}
#u25929.focused.selected.error.hint {
}
#u25929_img.selected.disabled {
}
#u25929.selected.disabled {
}
#u25929_img.selected.hint.disabled {
}
#u25929.selected.hint.disabled {
}
#u25929_img.selected.error.disabled {
}
#u25929.selected.error.disabled {
}
#u25929_img.selected.error.hint.disabled {
}
#u25929.selected.error.hint.disabled {
}
#u25929_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u25929_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25930 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25930 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:630px;
  width:45px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25930_img.selected {
}
#u25930.selected {
}
#u25930_img.disabled {
}
#u25930.disabled {
}
#u25930_img.selected.error {
}
#u25930.selected.error {
}
#u25930_img.selected.hint {
}
#u25930.selected.hint {
}
#u25930_img.selected.error.hint {
}
#u25930.selected.error.hint {
}
#u25930_img.mouseOver.selected {
}
#u25930.mouseOver.selected {
}
#u25930_img.mouseOver.selected.error {
}
#u25930.mouseOver.selected.error {
}
#u25930_img.mouseOver.selected.hint {
}
#u25930.mouseOver.selected.hint {
}
#u25930_img.mouseOver.selected.error.hint {
}
#u25930.mouseOver.selected.error.hint {
}
#u25930_img.mouseDown.selected {
}
#u25930.mouseDown.selected {
}
#u25930_img.mouseDown.selected.error {
}
#u25930.mouseDown.selected.error {
}
#u25930_img.mouseDown.selected.hint {
}
#u25930.mouseDown.selected.hint {
}
#u25930_img.mouseDown.selected.error.hint {
}
#u25930.mouseDown.selected.error.hint {
}
#u25930_img.mouseOver.mouseDown.selected {
}
#u25930.mouseOver.mouseDown.selected {
}
#u25930_img.mouseOver.mouseDown.selected.error {
}
#u25930.mouseOver.mouseDown.selected.error {
}
#u25930_img.mouseOver.mouseDown.selected.hint {
}
#u25930.mouseOver.mouseDown.selected.hint {
}
#u25930_img.mouseOver.mouseDown.selected.error.hint {
}
#u25930.mouseOver.mouseDown.selected.error.hint {
}
#u25930_img.focused.selected {
}
#u25930.focused.selected {
}
#u25930_img.focused.selected.error {
}
#u25930.focused.selected.error {
}
#u25930_img.focused.selected.hint {
}
#u25930.focused.selected.hint {
}
#u25930_img.focused.selected.error.hint {
}
#u25930.focused.selected.error.hint {
}
#u25930_img.selected.disabled {
}
#u25930.selected.disabled {
}
#u25930_img.selected.hint.disabled {
}
#u25930.selected.hint.disabled {
}
#u25930_img.selected.error.disabled {
}
#u25930.selected.error.disabled {
}
#u25930_img.selected.error.hint.disabled {
}
#u25930.selected.error.hint.disabled {
}
#u25930_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:32px;
  white-space:nowrap;
  text-transform:none;
}
#u25930_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25931 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25931 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:630px;
  width:36px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25931_img.selected {
}
#u25931.selected {
}
#u25931_img.disabled {
}
#u25931.disabled {
}
#u25931_img.selected.error {
}
#u25931.selected.error {
}
#u25931_img.selected.hint {
}
#u25931.selected.hint {
}
#u25931_img.selected.error.hint {
}
#u25931.selected.error.hint {
}
#u25931_img.mouseOver.selected {
}
#u25931.mouseOver.selected {
}
#u25931_img.mouseOver.selected.error {
}
#u25931.mouseOver.selected.error {
}
#u25931_img.mouseOver.selected.hint {
}
#u25931.mouseOver.selected.hint {
}
#u25931_img.mouseOver.selected.error.hint {
}
#u25931.mouseOver.selected.error.hint {
}
#u25931_img.mouseDown.selected {
}
#u25931.mouseDown.selected {
}
#u25931_img.mouseDown.selected.error {
}
#u25931.mouseDown.selected.error {
}
#u25931_img.mouseDown.selected.hint {
}
#u25931.mouseDown.selected.hint {
}
#u25931_img.mouseDown.selected.error.hint {
}
#u25931.mouseDown.selected.error.hint {
}
#u25931_img.mouseOver.mouseDown.selected {
}
#u25931.mouseOver.mouseDown.selected {
}
#u25931_img.mouseOver.mouseDown.selected.error {
}
#u25931.mouseOver.mouseDown.selected.error {
}
#u25931_img.mouseOver.mouseDown.selected.hint {
}
#u25931.mouseOver.mouseDown.selected.hint {
}
#u25931_img.mouseOver.mouseDown.selected.error.hint {
}
#u25931.mouseOver.mouseDown.selected.error.hint {
}
#u25931_img.focused.selected {
}
#u25931.focused.selected {
}
#u25931_img.focused.selected.error {
}
#u25931.focused.selected.error {
}
#u25931_img.focused.selected.hint {
}
#u25931.focused.selected.hint {
}
#u25931_img.focused.selected.error.hint {
}
#u25931.focused.selected.error.hint {
}
#u25931_img.selected.disabled {
}
#u25931.selected.disabled {
}
#u25931_img.selected.hint.disabled {
}
#u25931.selected.hint.disabled {
}
#u25931_img.selected.error.disabled {
}
#u25931.selected.error.disabled {
}
#u25931_img.selected.error.hint.disabled {
}
#u25931.selected.error.hint.disabled {
}
#u25931_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:23px;
  white-space:nowrap;
  text-transform:none;
}
#u25931_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25932 label {
  left:0px;
  width:100%;
  height:100%;
}
#u25932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u25932 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:630px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u25932_img.selected {
}
#u25932.selected {
}
#u25932_img.disabled {
}
#u25932.disabled {
}
#u25932_img.selected.error {
}
#u25932.selected.error {
}
#u25932_img.selected.hint {
}
#u25932.selected.hint {
}
#u25932_img.selected.error.hint {
}
#u25932.selected.error.hint {
}
#u25932_img.mouseOver.selected {
}
#u25932.mouseOver.selected {
}
#u25932_img.mouseOver.selected.error {
}
#u25932.mouseOver.selected.error {
}
#u25932_img.mouseOver.selected.hint {
}
#u25932.mouseOver.selected.hint {
}
#u25932_img.mouseOver.selected.error.hint {
}
#u25932.mouseOver.selected.error.hint {
}
#u25932_img.mouseDown.selected {
}
#u25932.mouseDown.selected {
}
#u25932_img.mouseDown.selected.error {
}
#u25932.mouseDown.selected.error {
}
#u25932_img.mouseDown.selected.hint {
}
#u25932.mouseDown.selected.hint {
}
#u25932_img.mouseDown.selected.error.hint {
}
#u25932.mouseDown.selected.error.hint {
}
#u25932_img.mouseOver.mouseDown.selected {
}
#u25932.mouseOver.mouseDown.selected {
}
#u25932_img.mouseOver.mouseDown.selected.error {
}
#u25932.mouseOver.mouseDown.selected.error {
}
#u25932_img.mouseOver.mouseDown.selected.hint {
}
#u25932.mouseOver.mouseDown.selected.hint {
}
#u25932_img.mouseOver.mouseDown.selected.error.hint {
}
#u25932.mouseOver.mouseDown.selected.error.hint {
}
#u25932_img.focused.selected {
}
#u25932.focused.selected {
}
#u25932_img.focused.selected.error {
}
#u25932.focused.selected.error {
}
#u25932_img.focused.selected.hint {
}
#u25932.focused.selected.hint {
}
#u25932_img.focused.selected.error.hint {
}
#u25932.focused.selected.error.hint {
}
#u25932_img.selected.disabled {
}
#u25932.selected.disabled {
}
#u25932_img.selected.hint.disabled {
}
#u25932.selected.hint.disabled {
}
#u25932_img.selected.error.disabled {
}
#u25932.selected.error.disabled {
}
#u25932_img.selected.error.hint.disabled {
}
#u25932.selected.error.hint.disabled {
}
#u25932_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:38px;
  white-space:nowrap;
  text-transform:none;
}
#u25932_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u25933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:1200px;
  height:542px;
  display:flex;
  transition:none;
}
#u25933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:542px;
}
#u25933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u25935 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:989px;
  width:745px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u25936 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#039FF2;
}
#u25936 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25936_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25937 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:995px;
  width:66px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25937 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25937_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25938 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25938 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25938_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25939 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:995px;
  width:33px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25939 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25939_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25940 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:995px;
  width:48px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25940 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25940_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25941 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:995px;
  width:52px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25941_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25942 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:995px;
  width:38px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25942 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25942_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25943 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:995px;
  width:54px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25943 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25943_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25944 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1011px;
  width:52px;
  height:1px;
  display:flex;
  transition:none;
}
#u25944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u25944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25945 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25945_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25946 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:995px;
  width:57px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25946_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25947 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1021px;
  width:62px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25948 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1309px;
  width:70px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u25948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25949 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1057px;
  width:65px;
  height:137px;
  display:flex;
  transition:none;
}
#u25949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25949_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:147px;
}
#u25949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25950 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1067px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25951 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1085px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25952 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1103px;
  width:46px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25953 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1121px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25954 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1139px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25955 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1157px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25956 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1175px;
  width:37px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u25956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u25958 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1021px;
  width:490px;
  height:424px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u25959 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1045px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u25959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25959_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25960 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1127px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25960 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25960_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25961_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25961 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1121px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25961 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25961_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25961.disabled {
}
.u25961_input_option {
}
#u25962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25962_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25962 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1171px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u25962 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25962_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u25962.disabled {
}
.u25962_input_option {
}
#u25963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25963 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1227px;
  width:53px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25963 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25963_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25964_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25964_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25964_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25964 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1221px;
  width:361px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25964_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25964.hint {
}
#u25964_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25964.disabled {
}
#u25964_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25964.hint.disabled {
}
#u25965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25965 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1177px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25965 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25966 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1279px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25966 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25967_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25967_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25967_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  padding:2px 2px 2px 2px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25967 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1273px;
  width:83px;
  height:78px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25967_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25967.hint {
}
#u25967_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25967.disabled {
}
#u25967_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:center;
}
#u25967.hint.disabled {
}
#u25968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25968 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1081px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25968 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25969 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1081px;
  width:104px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25969 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 159, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25970 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1081px;
  width:74px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#039FF2;
  text-align:center;
}
#u25970 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25971 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u25971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(3, 159, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25972 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1375px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
