body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1280px;
  width:2268px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u87454 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:0px;
  width:1080px;
  height:2346px;
  display:flex;
  transition:none;
}
#u87454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2346px;
}
#u87454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87455 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:650px;
  width:360px;
  height:180px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87455_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87456 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:650px;
  width:360px;
  height:180px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87456_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87457 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:940px;
  width:360px;
  height:180px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87457_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87458 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:940px;
  width:360px;
  height:180px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87458_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87459 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:836px;
  width:130px;
  height:60px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87459_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87460 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:836px;
  width:130px;
  height:60px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87460_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87461 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:1126px;
  width:130px;
  height:60px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87461_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87462 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:1126px;
  width:130px;
  height:60px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87462_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u87463 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:410px;
  width:300px;
  height:100px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u87463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87463_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:54px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u87464 {
  border-width:0px;
  position:absolute;
  left:1610px;
  top:1326px;
  width:80px;
  height:54px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u87464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87464_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u87465 {
  border-width:0px;
  position:absolute;
  left:2027px;
  top:1530px;
  width:53px;
  height:54px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u87465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87465_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87466 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:580px;
  width:158px;
  height:60px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87466_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87467 {
  border-width:0px;
  position:absolute;
  left:2468px;
  top:0px;
  width:1080px;
  height:2346px;
  display:flex;
  transition:none;
}
#u87467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2346px;
}
#u87467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:54px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87468 {
  border-width:0px;
  position:absolute;
  left:3155px;
  top:1010px;
  width:90px;
  height:54px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87468_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:54px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87469 {
  border-width:0px;
  position:absolute;
  left:3120px;
  top:1069px;
  width:90px;
  height:54px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87469_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:54px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87470 {
  border-width:0px;
  position:absolute;
  left:3120px;
  top:1128px;
  width:90px;
  height:54px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87470_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:54px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87471 {
  border-width:0px;
  position:absolute;
  left:3126px;
  top:1187px;
  width:90px;
  height:54px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87471_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u87472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:54px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87472 {
  border-width:0px;
  position:absolute;
  left:3126px;
  top:1246px;
  width:90px;
  height:54px;
  display:flex;
  backdrop-filter:blur(4px);
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87472_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
